/* Styles:
text: #FF3E5E

tags:
print copy: #007fbe
*/

.site {
  background: #333;
}

.site-branding .site-title a {
  color: #FF3E5E;
  background: -webkit-linear-gradient(45deg, #FF3E5E 0%, #BB4EC1 50%, #6063FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-toggle {
/*  color: #FFF;*/
  color: #D1D1D1;
}

.main-navigation a {
  color: #EEE;
}

.current-menu-item a {
  color: #FF3E5E;
}

/*input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {*/

input[type="search"] {
  background: #555;
  border: none;
}

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%;
}

.pt-cv-title {
/*  border-left: 5px solid #007ACC;*/
  /*     padding-left: 3%;
padding: 5% 5% 5% 4%; */
  padding: 1% 0 4% 4%;
  padding-left: 8px;

}

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
  padding: 1% 4% 8% 1%;
  box-shadow: 5px 5px #FF3E5E;
/*  height: 16rem;*/
}

.pt-cv-title:hover {
/*  background: #007;*/
}

.pt-cv-title a {
  color: #FF3E5E;
  text-transform: none;
  font-size: 2rem;
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
}

.pt-cv-title a:hover {
/*  color: #FFF;*/
  color: #BB4EC1;
}

.pt-cv-wrapper .btn-success {
  display: none;
}

.search-form {
  position: relative;
  margin: 0% 8.3% 11%;
}

.search-submit {
  width: 60px;
}

.pt-cv-content-item {
  margin: 5% 0px 8%;
}

.pt-cv-ifield {
  
}

.pt-cv-meta-fields {
/*  margin-top: 5%;*/
  padding-top: 4%;
/*  border-top: 1px solid #DDD;*/
  width: 90%;
}

/*
.pt-cv-meta-fields a {
  font-family: 'Oswald', sans-serif;
}
*/

.pt-cv-tax-print-copy a {
  font-family: 'Quattrocento Sans', sans-serif;
}

.pt-cv-tax-print-copy {
/*  background: steelblue !important;*/
  padding: 2% 4%;
/*  color: #FFF !important;*/
/*  background: #007FBE !important;*/
  border: 2px solid #007FBE;
  color: #007FBE !important;
  
}

.pt-cv-tax-print-copy:hover {
  box-shadow: 0 0 10px #111 !important;
}

/* Post Layout */
.site-main > article {
  padding: 5% 5% 5% 5%;
/*  box-shadow: 7px 6px 8px #222;*/
  box-shadow: 0 0 18px #181818;
}

/*
body:not(.search-results) article:not(.type-page) .entry-content {
  float: left;
  width: 100%;
}
*/

/* styling for category headers (tagline, body copy, tags, source) */
.categoryContainer {
  border-top: 1px solid #FFF;
  width: 70%;
}

.categoryHeader {
  color: #FFF;
}

.tagline,
.bodyCopy,
.image {
  padding: 5% 0;
}



.entry-title {
  color: #FF3E5E;
  font-size: 3rem;
  line-height: 1.15;
}

.entry-content p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #BBB;
  font-size: 2rem;
  line-height: 1.3;
  hyphens: none;
  
}

.post-navigation .meta-nav {
  color: #FFF;
}

.post-navigation .post-title, .entry-title {
  color: #FF3E5E;
  hyphens: none;
}

/*remove post-navigation borders*/
.post-navigation {
  border: none;
}

.widget_search,
.widget_categories {
  border: none;
}

footer nav {
  display: none;
}

/* Tablet Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .search-form {
    margin: 0% 8.3% 5%;
  }

  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    /* 			margin-right: auto; */
    margin: 0 7%;
  }
}

/* Tablet Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .site-header {
    padding: 2.25em 4.5455%;
  }

  .search-form {
    margin: 0% 0.3% 4%;
  }

  .pt-cv-title a {
    font-size: 1.75rem;
    line-height: 1.35;
  }
  
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 56.875em) {
  .content-area {
    float: left;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 61.5625em) {
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
  
  .entry-title {
    font-size: 4rem;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  
  .search-form {
    margin: 0% 8.3% 7%;
  }

  .pt-cv-title a {
    font-size: 3rem;
    line-height: 1.15;
  }

}
