/* Styles:
text: #FF3E5E

tags:
print copy: #007fbe
*/

.site {
  background: #333;
}

.site-header {
  padding: 5% 5%;
}

.site-branding .site-title a {
  color: #FF3E5E;
  background: -webkit-linear-gradient(45deg, #FF3E5E 0%, #BB4EC1 50%, #6063FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.6rem;
}

.menu-toggle {
/*  color: #FFF;*/
  color: #D1D1D1;
  font-size: 12px;
}

.menu-item a {
  font-size: 1.75rem;
}


.main-navigation a {
  color: #EEE;
}

.current-menu-item a {
  color: #FF3E5E;
}

/*input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {*/


.search-form {
/*  margin: 5% 0 3%!important;*/
}

.search-form label {
  width: 100%;
  margin-bottom: 0;
}

/*

input[type="search"].search-field {
  
}
*/

input[type="search"] {
  padding-left: 2%;
  background: #555;
  border: none;
  height: 4rem;
  font-size: 2.75rem;
  border-radius: 2px;
}

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%;
}

.pt-cv-title {
/*  border-left: 5px solid #007ACC;*/
  /*     padding-left: 3%;
padding: 5% 5% 5% 4%; */
  padding: 1% 0 4% 4%;
  padding-left: 8px;

}

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
/*  padding: 1% 4% 8% 1%;*/
  padding: 1% 1% 8% 1%;
/*  box-shadow: 5px 5px #FF3E5E;*/
/*  box-shadow: 5px 5px #111;*/
  border-bottom: 5px solid #111;
/*  height: 16rem;*/
}

.pt-cv-title:hover {
/*  background: #007;*/
}

.pt-cv-title a {
  color: #111;
  text-transform: none;
  font-size: 4rem;
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
}

.pt-cv-title a:hover {
/*  color: #FFF;*/
  color: #BB4EC1;
}

.pt-cv-wrapper .btn-success {
  display: none;
}

.search-form {
  position: relative;
  margin: 0% 8.3% 11%;
}

.search-submit {
  width: 60px;
}

.pt-cv-content-item {
  margin: 5% 0 8%;
/*
  padding-left: 0 !important;
  padding-right: 0 !important;
*/
}

.pt-cv-ifield {
  
}

.pt-cv-meta-fields {
  margin-left: 2%;
/*  margin-top: 5%;*/
  padding-top: 4%;
/*  border-top: 1px solid #DDD;*/
  width: 90%;
}

/*
.pt-cv-meta-fields a {
  font-family: 'Oswald', sans-serif;
}
*/

/*
.pt-cv-tax-print-copy a {
  font-family: 'Quattrocento Sans', sans-serif;
}
*/



/* Post Layout */
.site-main > article {
/*  padding: 5% 5% 5% 5%;*/
  padding: 5% 1% 5% 0;
/*  box-shadow: 7px 6px 8px #222;*/
  box-shadow: 0 0 18px #181818;
  background: #EEE;
}

/*
body:not(.search-results) article:not(.type-page) .entry-content {
  float: left;
  width: 100%;
}
*/

/* styling for category headers (tagline, body copy, tags, source) */


/*
.tagline,
.bodyCopy,
.image {
  padding: 0;
}
*/




.entry-title {
/*  color: #FF3E5E;*/
  color: #111;;
  font-size: 6rem;
  line-height: 1.15;
  hyphens: none
}

.bodyCopy {
  padding: 0 0 7%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #111;
  hyphens: none;
}

.tags {
  margin: 0 0 10%;
}

.pt-cv-meta-fields a {
/*  color: #41b7d8;*/
  font-size: 1.5rem;
  border: 2px solid #111;
  padding: 2% 3%;
  color: #111;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pt-cv-tax-print-copy {
  /*  background: steelblue !important;*/
  padding: 2% 4%;
  /*  color: #FFF !important;*/
  /*  background: #007FBE !important;*/
  border: 2px solid #007FBE !important;
  color: #007FBE !important;

}

.pt-cv-tax-print-copy:hover {
  box-shadow: 0 0 10px #111;
}

.source {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #111;
}

.image {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #111;
  text-align: center;
}

.image img {
  margin-bottom: 3%;
}

.categoryContainer {
  border-top: 1px solid #A7A7A7;
  /*  width: 70%;*/
}

.categoryHeader {
  padding: 2% 0 0 1%;
  font-size: 1.5rem;
  letter-spacing: .2px;
  color: #A7A7A7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
.entry-content p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #BBB;
  font-size: 2rem;
  line-height: 1.3;
  hyphens: none;
  
}
*/

.post-navigation .meta-nav {
  color: #FFF;
}

/*
.post-navigation .post-title, .entry-title {
  color: #FF3E5E;
  hyphens: none;
}
*/

/*remove post-navigation borders*/
.post-navigation {
  border: none;
}

.widget_search,
.widget_categories {
  border: none;
}

footer nav {
  display: none;
}

/* Tablet Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .search-form {
    margin: 0% 8.3% 5%;
  }

  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    /* 			margin-right: auto; */
    margin: 0 7%;
  }
}

/* Tablet Landscape /////////////////////////////////////////////////////////////////////////// */

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {*/

@media screen and (min-device-width: 1024px) {
  
  .site-main > article {
/*
    padding: 0 3%;
    padding-top: 4%;
*/
    padding: 4% 3% 0 3%;
  }

  .site-header {
    padding: 2.25em 4.5455%;
  }

  .search-form {
    margin: 2% 0 1.5% !important;
  }
  
  .pt-cv-content-item {
    margin: 0% 0 2%;
    padding: 2% 0 0;
  }

  .pt-cv-title a {
    padding-left: 1%;
    font-size: 3rem;
    line-height: 1.35;
  }
  
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 56.875em) {
  .content-area {
    float: left;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 61.5625em) {
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
  
  .entry-title {
    font-size: 5rem;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  
  .search-form {
    margin: 0% 8.3% 7%;
  }

  .pt-cv-title a {
    font-size: 5rem;
    line-height: 1.15;
  }
  
  .pt-cv-content-item {
    padding: 0;
  }

}
