/* Styles:
text: #FF3E5E

tags:
print copy: #007fbe
*/

.site {
  background: #333;
}

.site-branding .site-title a {
  color: #FF3E5E;
}

.menu-toggle {
/*  color: #FFF;*/
  color: #D1D1D1;
}

.main-navigation a {
  color: #EEE;
}

.current-menu-item {
  color: #FF3E5E;
}

/*input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {*/

input[type="search"] {
  background: #555;
  border: none;
}

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%;
}

.pt-cv-title {
/*  border-left: 5px solid #007ACC;*/
  /*     padding-left: 3%;
padding: 5% 5% 5% 4%; */
  padding: 1% 0 4% 4%;
  padding-left: 8px;

}

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
  box-shadow: 5px 5px #FF3E5E;
  height: 16rem;
}

.pt-cv-title:hover {
/*  background: #007;*/
}

.pt-cv-title a {
  color: #FF3E5E;
  text-transform: none;
  font-size: 2rem;
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
}

.pt-cv-title a:hover {
  color: #FFF;
}

.pt-cv-wrapper .btn-success {
  display: none;
}

.search-form {
  position: relative;
  margin: 0% 8.3% 11%;
}

.search-submit {
  width: 60px;
}

.pt-cv-content-item {
  margin: 5% 0px 8%;
}

.pt-cv-ifield {
  
}

.pt-cv-meta-fields {
/*  margin-top: 5%;*/
  padding-top: 4%;
/*  border-top: 1px solid #DDD;*/
  width: 90%;
}

.pt-cv-meta-fields a {
  font-family: 'Oswald', sans-serif;
}

.pt-cv-tax-print-copy {
/*  background: steelblue !important;*/
  padding: 2% 4%;
  color: #FFF !important;
  background: #007FBE !important;
}

/* Post Layout */
.site-main > article {
  padding: 5% 5% 5% 5%;
  box-shadow: 7px 6px 8px #222;
}

body:not(.search-results) article:not(.type-page) .entry-content {
  float: left;
  width: 100%;
}

.entry-title {
  color: #FF3E5E;
  font-size: 3rem;
}

.entry-content p {
  color: #BBB;
  font-size: 2rem;
  line-height: 1.3;
}

.post-navigation .meta-nav {
  color: #FFF;
}

.post-navigation .post-title, .entry-title {
  color: #FF3E5E;
}

/* Tablet Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .search-form {
    margin: 0% 8.3% 5%;
  }

  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    /* 			margin-right: auto; */
    margin: 0 7%;
  }
}

/* Tablet Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .site-header {
    padding: 2.25em 4.5455%;
  }

  .search-form {
    margin: 0% 0.3% 4%;
  }

  .pt-cv-title a {
    font-size: 1.75rem;
    line-height: 1.35;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

  .search-form {
    margin: 0% 8.3% 7%;
  }

  .pt-cv-title a {
    font-size: 3rem;
    line-height: 1.15;
  }

}
