/* Additional Styles to Customize Theme. Use in Theme Appearance --> Customizing --> Additonal CSS */

.site {
/*  background: #333;*/
  background: #EEE;
}

.site-header {
  padding: 5% 5%;
}

.site-title {
  padding: 4% 5% 4% 11%;
  background: #40ACC0;
}

.site-branding .site-title a {
/*
  color: #FF3E5E;
  background: -webkit-linear-gradient(45deg, #FF3E5E 0%, #BB4EC1 50%, #6063FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
*/
  color: #FFF;
  font-size: 2.6rem;
  
}

.site-branding .site-title a:hover, .site-branding .site-title a:focus {
  color: purple;
}

.site-title a:hover {
  text-decoration: none;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
  text-decoration: none;
}

.menu-toggle {
  color: #D1D1D1;
  font-size: 12px;
}

.menu-item a {
  font-size: 1.75rem;
}


.main-navigation a {
/*  color: #EEE;*/
/*  color: #AAA;*/
  color: #40ACC0;
}

.current-menu-item a {
/*  color: #FF3E5E;*/
  color: #40ACC0;
}

.search-form label {
  width: 100%;
  margin-bottom: 0;
}

input[type="search"] {
  padding-left: 2%;
  background: #555;
  border: none;
/*  height: 4rem;*/
  font-size: 3rem;
/*  border-radius: 2px;*/
  background: #EEE;
/*  border: 2px solid #DDD;*/
  border-bottom: 2px solid #DDD;
  border-radius: 5px;
  font-weight: 400;
}

/*
.search-form::before {
  content: "\f400";
  font-size: 24px;
  left: 2px;
  line-height: 42px;
  position: relative;
  width: 40px;
}
*/

input[type="search"]:hover,
input[type="search"]:focus {
  background: #DDD;
}

.categoryList {
  margin-top: 7%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-bottom: 2%;
}

.categoryList ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cat-item {
  float: left;
  list-style: none;
}

/* print category */

.cat-item a {
  margin-left: 0;
  margin-right: 19%;
/*  padding: .5rem 1.3rem;*/
  padding: 0.5rem 1.3rem .1rem;;
/*  color: #AAA;*/
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: transparent;
/*  border: 2px solid #FFF;*/
  width: auto;
  float: left;
  transition: .3s;
/*  outline: 2px solid #AAA;*/
  border-bottom: 4px solid transparent;
  outline: 2px solid #40ACC0;
  color: #40ACC0;
}

.cat-item a:hover {
  text-decoration: none;
/*  border-bottom: 4px solid #AAA;*/
  border-bottom: 4px solid #40ACC0;
  transition: .3s;
}

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%;
}

.pt-cv-title {
  padding: 1% 0 4% 4%;
  padding-left: 8px;
}

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
  padding: 1% 1% 8% 1%;
/*  border-bottom: 5px solid #111;*/
  border-bottom: 1px solid #CCC;
}

.pt-cv-title a {
/*  color: #40ACC0;*/
  
  /* provides just enough contrast to tags */
  color: #40ACBA;
  
  text-transform: none;
  font-size: 4rem;
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
}

.pt-cv-title a:hover {
  color: #BB4EC1;
}

.pt-cv-wrapper .btn-success {
  display: none;
}

.search-form {
  position: relative;
  margin: 5% 0 3%;
}

.search-submit {
  width: 120px;
  background: transparent;
  color: #333;
}

.search-submit:hover,
.search-submit:active {
  background: transparent;
  color: purple;
}

.pt-cv-content-item {
  margin: 5% 0 8%;
}

.pt-cv-ifield {
  
}

.pt-cv-meta-fields {
  margin-left: 2%;
  padding-top: 4%;
  width: 90%;
}

/* Post Layout */
.site-main > article {
  padding: 5% 1% 5% 0;
/*  box-shadow: 0 0 18px #181818;*/
  background: #EEE;
}

/* Post-specific layout exclusive of the main > article layout */
.post {
  padding: 6% 4% 10% 4% !important;
}

.entry-title {
/*  color: #111;;*/
  color: #40ACC0;
  font-size: 6rem;
  line-height: 1.15;
}

.bodyCopy {
  padding: 0 0 7%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
/*  color: #111;*/
  color: #404040;
  hyphens: none;
  line-height: 1.4;
}

.tags {
  margin: 0 0 10%;
  /* color to match background to hide commas between tags */
  color: #EEE;
}

/* appear to remove commas between tags, set to color of article background */
.terms {
  color: #EEE;
}

.pt-cv-meta-fields a, .tags a {
  font-size: 1.5rem;
/*  border: 2px solid #111;*/
  padding: 2% 3%;
  color: #111;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: lowercase;
/*  border: 2px solid #AAA;*/
/*  color: #AAA;*/
  color: #40ACC0;
  border: 2px solid #40ACC0;
}

/*
.pt-cv-tax-print-copy {
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  color: #FFF;
  background: #007FBE;
  padding: 9%;
}
*/

.pt-cv-tax-print-copy:hover {
  box-shadow: 0 0 10px #111;
}

/*
.source {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #111;
}
*/

.image {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #111;
  text-align: center;
}

.image img {
  margin-bottom: 3%;
}

.categoryContainer {
  border-top: 1px solid #A7A7A7;
}

.adImage {
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
}

.categoryHeader {
  padding: .5% 0 0 1%;
  font-size: 1.5rem;
  letter-spacing: .2px;
  color: #A7A7A7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.post-navigation .meta-nav {
  color: #FFF;
}

/*remove post-navigation borders*/
.post-navigation {
  border: none;
}

.widget_search,
.widget_categories {
  border: none;
}

footer nav {
  display: none;
}

.site-info {
  margin: 0 auto;
}

.site-info .site-title {
  padding: 0;
  background: transparent;
}

.site-footer .site-title {
  font-size: 1.5rem;
}

/* remove footer "/" */
.site-footer .site-title::after {
  content: "";
}

/* Tablet Portrait /////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .search-form {
/*    margin: 0% 8.3% 5%;*/
    margin: 3% 0% 0%;
  }
  
  .categoryList {
    margin-top: 4%;
  }

  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    /* 			margin-right: auto; */
    margin: 0 7%;
  }
  
  .pt-cv-meta-fields a, .tags a {
    padding: 1.5% 2%;
  }
}

/* Tablet Landscape /////////////////////////////////////////////////////////////////////////// */

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {*/

@media screen and (min-device-width: 1024px) {
  
  .site-main > article {
    padding: 4% 3% 0 3%;
  }

  .site-header {
    padding: 2.25em 4.5455%;
  }

  .search-form {
    margin: 2% 0 1.5% !important;
  }
  
  .pt-cv-content-item {
    margin: 0% 0 2%;
    padding: 2% 0 0;
  }
  
  /* catergory header lines */
  .categoryHeader {
    padding: 0 0 0 .5%;
    font-size: 1.75rem;
  }

  .pt-cv-title a {
    padding-left: 1%;
    font-size: 3rem;
    line-height: 1.35;
  }
  
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
  
  
  .bodyCopy,
  .source {
    padding: 0 0 5%;
  }
  
  .tags {
    margin: 0 0 6%;
  }
  
  /* tag box and font sizes */
  .pt-cv-meta-fields a, .tags a {
    padding: 1% 1.5%;
    font-size: 1.75rem;
  }
  
  /* center ad image */
  .categoryContainer img {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 56.875em) {
  .content-area {
    float: left;
    margin-right: auto;
    width: 100%;
  }
  
  .no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets   {
    margin: auto;
  }
}

@media screen and (min-width: 61.5625em) {
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }
  
  body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 10%;
  }
  
  .entry-title {
    font-size: 5rem;
    margin-bottom: 5%;
  }
}

@media screen and (min-device-width: 1200px) {
  
  .site-main > article {
    padding: 5% 3.5% 6% 3.5%;
  }
  
  .site-header{
    padding: 2.25em 2.5455%;
  }
  
  .site-content {
    padding: 2.25em 0;
  }
  
  .search-form {
    margin: 0% 8.3% 7%;
  }
  
  .categoryList {
    margin-top: 3%;
  }
  
  /* margin between post title sections */
  .pt-cv-view .pt-cv-ifield {
    margin-bottom: 8rem;
  }
  
  .pt-cv-view .pt-cv-title {
    border-bottom: none;
/*    box-shadow: 5px 5px #111;*/
    border-bottom: 1px solid #CCC;
  }
  
  .entry-title {
    font-size: 6rem;
  }

  .pt-cv-title a {
    font-size: 6rem;
    line-height: 1.15;
  }
  
  .pt-cv-content-item {
    padding: 0;
  }

}
