/*
Theme Name: Nathaniel Powers 1.1
Theme URI: 
Author: Nathaniel Powers
Author URI: http://nathanielpowers.com
Description: Personal Website and Blog
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nathanielpowers
*/
/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 16px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}




/*
 * Override Bootstrap's default container.
 */

/*
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
*/


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Custom Styles
 *
 */

/*
 .showcase{
   height:600px;
   padding: 100px 20px;
   text-align: center;
   border-bottom:#ccc 1px solid;
   margin-bottom:30px;
   color:#fff;
 }

 .showcase h1{
   font-size: 55px;
   padding-bottom:20px;
   color:#fff;
 }

 .showcase p {
   font-size:20px;
   margin-bottom:50px;
 }
*/

 .boxes{
   text-align: center;
   background:#fff;
   margin-bottom: 30px;
 }

 .box .fa{
   font-size:45px !important;
   margin-bottom:10px;
 }

 .box{
   padding:15px;
   border:#ccc 1px solid;
 }

 .blog-nav a{
   color:#fff;
 }

 .blog-nav a:hover{
   color:#666;
 }

 .post-thumb img{
   width:100%;
   height:auto;
   margin-bottom:8px;
 }

.comments{
  border:1px #ccc solid;
  padding:10px;
  margin-bottom:20px;
  margin-top:10px;
}

.comments h3,.comments h2{
  background:#428bca;
  color:#fff;
  padding:5px;
}

.comment-body{
  border:#ccc solid 1px;
  margin-bottom:10px;
  padding:20px 10px;
}

.comment-meta{
  background:#428bca;
  color:#fff;
  padding:10px;
  overflow:auto;
}

.comment-meta a{
  color:#fff;
}

.comment-meta img{
  float:left;
  margin-right:10px;
}

.comment-reply-link{
  background:#428bca;
  color:#fff;
  display: inline-block;
  padding: 10px 15px;
}

.comment-form input, .comment-form textarea{
  width:100%;
  padding:4px;
  border:#ccc solid 1px;
  margin-bottom:15px;
}

.post-gallery{
  background:#333;
  color:#fff;
  padding:10px;
  text-align: center;
}

.post-gallery h2{
  color:#fff;
}


/* Portfolio Template */

.jumbotron {
  background: none;
}

.hero {
  margin: 0;
}

.brandIntro {
  padding-top: 5rem;
}

.aligncenter {
  margin: 0 auto;
}

.wp-caption-text {
  margin-top: 5%;
}

.postPostNav {
  background: brown;
}

.postPostNav h2 {
  text-align: center;
}

.postPostNav p {
  text-align: center;
}

/* Portfolio Settings */

.bodyCopy h3 {
  font-weight: 400;
}

.bodyCopy p {
  font-size: 2rem;
}





















































@charset "UTF-8";
/* Base Styles -------------------- */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto+Slab:400,700");
* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.5;
  color: #878787;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 3.3125em;
  line-height: 1.1;
  font-weight: normal;
  margin: 0 0 .5em;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2;
  color: #48525c;
  margin-bottom: 1.7em;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: #ffa949;
  text-decoration: none;
}

a:visited {
  color: #add8e6;
}

a:hover {
  color: rgba(255, 169, 73, 0.5);
}

html,
body {
  height: 100%;
}

/* Flexbox on body */

.flexbox-wrapper {
  /* display: flex with all fallbacks */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* direction with all fallbacks */
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* TODO: I read something about issues with min-height and no height! */
  min-height: 100%;
}

/* Div before footer to grow full height */

.page-wrapper {
  /* flex (item) with fallbacks*/
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  /*height: 20%;               /* For old syntax, otherwise collapses. */
  /* flex grow, shrink, basis fallbacks */
  -webkit-flex: 1 0 auto;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1 0 auto;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* IE10 tweener syntax : seems not really to be needed*/
  /*-ms-flex-preferred-size: auto;*/
}

/**
* IE 9 does not support flexbox : using modernizr and according workarounds to fix it
* this example uses 
* http://galengidman.com/2014/03/25/responsive-flexible-height-sticky-footers-in-css/
*/

.no-flexbox body {
  display: table;
  width: 100%;
}

/* perhaps we don't need the table-row classes */

/*.no-flexbox .table-row, */

.no-flexbox .page-wrapper {
  display: table-row;
  height: 100%;
}

.primaryNavContainer {
  display: block;
  height: 4.9rem;
  z-index: 9999;
  display: flex;
  background: #f6f6f6;
  border-bottom: 0;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 14px 0 0 21px;
  margin-left: 4.5%;
  margin-top: 3%;
  z-index: 999;
}

.home span {
  top: 7px;
}

#navMenuBtn {
  font-size: 1.3rem;
  right: 0;
  z-index: 9;
  color: #878787;
  line-height: 1.7;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 12px;
  padding: 2%;
  margin-right: 3%;
  padding-top: 1.7%;
}

.navZShow {
  z-index: 999999 !important;
  display: block !important;
}

.close-button {
  display: none;
}

.navMenuClose {
  right: 0;
  color: #0A89C0;
  line-height: 1.55;
  position: absolute;
  font-size: 2.75rem;
  padding: 3.25% 7% 0 5%;
  /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2); */
  top: -17px;
  display: none;
}

.headerHeight {
  height: 100vh !important;
}

.navActive {
  height: 78vh;
  border-bottom: none;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  background: #F7F7F7;
}

#primaryNav {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
  background: #F8F8F8;
  background: #0A89C0;
}

#primaryNav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 20%;
  margin-top: 38%;
}

#primaryNav ul li {
  list-style: none;
  margin: 0;
  padding: 4%;
  font-size: 1.3rem;
  margin: 0 auto;
}

#primaryNav ul li a {
  padding: 4%;
  color: #878787;
  color: #1F5395;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-weight: 700;
  line-height: 0rem;
  font-size: 2rem;
}

.startAProject {
  border: none;
  padding: auto;
}

@media (min-width: 770px) {
  .logo {
    margin-left: 4.2%;
    margin-top: 1.3%;
  }
  #navMenuBtn {
    margin-right: 1%;
    padding: 1.3%;
    color: #878787;
    line-height: 1.9;
  }
  #navMenuBtn::before {
    content: "Menu";
    text-transform: uppercase;
  }
  #navMenuBtn::before::after {
    content: "X";
  }
  .navContrast a {
    color: #333 !important;
  }
  .navContrast a:hover {
    border-bottom: 4px solid #333 !important;
  }
  .primaryNavContainer {
    background: #FFF;
  }
  .homeNavContainer {
    background: transparent;
  }
  #primaryNav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 7.5%;
    left: auto;
    bottom: auto;
    min-width: 100%;
    display: inline-block;
    float: right;
    top: 1.2%;
    z-index: 9;
    padding-top: 1%;
    background: transparent;
  }
  #primaryNav ul {
    min-width: 100%;
    position: relative;
    text-align: right;
    box-shadow: none;
    padding-bottom: 0;
    margin-top: 0;
  }
  #primaryNav ul li {
    display: inline-block;
    padding: 1% 2%;
    border-bottom: none;
    padding: 0% 0%;
    border: none;
    display: inline;
    width: auto;
  }
  #primaryNav ul li a {
    padding: 1.25% 0 1.75%;
    font-size: 1.2rem;
    margin-left: 5%;
    color: #555;
    -webkit-transition: all .2s ease;
    /* Safari and Chrome */
    -moz-transition: all .2s ease;
    /* Firefox */
    -ms-transition: all .2s ease;
    /* IE 9 */
    -o-transition: all .2s ease;
    /* Opera */
    transition: all .2s ease;
  }
  #primaryNav ul li a:hover {
    border-top: 15px solid #0A89C0;
    -webkit-transition: all .2s ease;
    /* Safari and Chrome */
    -moz-transition: all .2s ease;
    /* Firefox */
    -ms-transition: all .2s ease;
    /* IE 9 */
    -o-transition: all .2s ease;
    /* Opera */
    transition: all .2s ease;
    color: #0A89C0;
  }
  .workPageLinks ul li a {
    color: #FFF !important;
  }
  .workPageLinks ul li a:hover {
    border-top: 15px solid #FFF !important;
  }
  .contrastNav {
    color: #777 !important;
  }
  .contrastNav:hover {
    color: #103754 !important;
    border-bottom: 4px solid #103754 !important;
  }
  .startAProject {
    border: 1px solid #1F5395;
    padding: 1%;
  }
}

/*WORK CONTAINER*/

.workContainer {
  position: relative;
  overflow: hidden;
}

.home p {
  display: none;
  color: #CCC;
  font-size: 1.95rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
}

.home span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  top: -29px;
  left: 19px;
  z-index: 999;
}

.home span p {
  display: block;
  font-size: 2.25rem;
  font-weight: 400;
  color: #0A89C0;
  font-size: 1.5rem;
  line-height: 3.45;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all .7s ease;
  /* Safari and Chrome */
  -moz-transition: all .7s ease;
  /* Firefox */
  -ms-transition: all .7s ease;
  /* IE 9 */
  -o-transition: all .7s ease;
  /* Opera */
  transition: all .7s ease;
  color: #0A89C0;
}

.home span p:hover {
  -webkit-transition: all .7s ease;
  /* Safari and Chrome */
  -moz-transition: all .7s ease;
  /* Firefox */
  -ms-transition: all .7s ease;
  /* IE 9 */
  -o-transition: all .7s ease;
  /* Opera */
  transition: all .7s ease;
  text-shadow: -1px -1px 0 #0A89C0, 1px -1px 0 #0A89C0, -1px 1px 0 #0A89C0, 1px 1px 0 #0A89C0;
}

@media (min-width: 770px) {
  .workPageLinks span p {
    color: #FFF;
  }
}

.workNavContainer nav {
  width: 100%;
  height: auto;
}

.workNavContainer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.workNavContainer nav ul li {
  margin: 0;
  padding: 0;
}

.liBg {
  max-height: 7rem;
}

.liBg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  max-height: 7.1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.homeBg {
  background-image: url("../img/resort.jpg");
}

.workBg {
  background-image: url("../img/resort.jpg");
}

.workNavContainer li a {
  z-index: 1;
  display: block;
  padding: 40px 0 0 37px;
  width: 100%;
  height: 7rem;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 3.5rem;
}

.workNavContainer li a:hover {
  color: yellow;
}

.workNavContainer img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -60;
  height: 100vh;
  width: auto;
  opacity: 0;
  margin-bottom: 0;
}

@media (min-width: 770px) {
  .home {
    display: inline-block;
    margin-right: 12.07vh;
    padding-left: 8.5%;
  }
  .home p {
    display: none;
  }
  .home span p {
    margin: 0;
    font-size: 1.6rem;
    padding-top: 9%;
    font-weight: 700;
  }
  .home span p:hover {
    color: #F7F7F7;
  }
  .workContainer {
    overflow: hidden;
  }
  .workNavContainer img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -60;
    height: 100vh;
    width: auto;
    opacity: 0;
  }
  .workNavContainer li:hover > img {
    opacity: 1;
  }
  .workNavContainer li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -50;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  /*WORK NAV*/
  .workNavContainer nav {
    width: auto;
    height: auto;
  }
  .workNavContainer nav h1 {
    padding: 20px;
    color: #ccc;
    text-align: right;
    font: 25px Georgia, Times, serif;
  }
  /*UL*/
  .workNavContainer ul {
    width: auto;
    height: auto;
    list-style: none;
    margin-left: 4%;
  }
  .workNavContainer li a {
    z-index: 1;
    display: block;
    padding-left: 20px;
    width: 100%;
    color: #444;
    text-decoration: none;
    height: auto;
    padding: 3%;
  }
  .liBg {
    position: relative;
    z-index: 1;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .7s ease-in-out;
    border-radius: 0;
    z-index: 0;
  }
  #show {
    opacity: 1;
  }
  .liBg:nth-child(1):hover ~ .bg img:nth-child(2),
  .liBg:nth-child(2):hover ~ .bg img:nth-child(3),
  .liBg:nth-child(3):hover ~ .bg img:nth-child(4),
  .liBg:nth-child(4):hover ~ .bg img:nth-child(5),
  .liBg:nth-child(5):hover ~ .bg img:nth-child(6),
  .liBg:nth-child(6):hover ~ .bg img:nth-child(7) {
    opacity: 1;
  }
  .liBg::before {
    background: transparent;
  }
  .workBg {
    background-image: none;
  }
  .workNavContainer li img {
    display: none;
  }
  .workNavContainer nav ul li {
    padding-bottom: 2%;
    padding-top: 2%;
  }
  .workNavContainer li a {
    font-size: 2.5rem;
    color: #FFF;
  }
}

@media (min-width: 60rem) {
  .home span p {
    line-height: 2.4;
  }
}

footer {
  z-index: 1;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1.5% 0 3% 0;
  text-align: center;
  color: #CCC;
  margin-bottom: 4%;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 1.5% 0 3% 0;
  text-align: center;
}

footer p {
  font-family: 'Roboto', arial, sans-serif;
  color: #CCC;
  margin-bottom: 4%;
  letter-spacing: .4px;
}

@media only screen and (min-width: 45em) {
  footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 64em) {


  .icons {
    padding: 6% 0 6% 0;
    font-size: 4rem;
    color: #FFF;
    text-align: center;
    display: block !important;
  }

  p {
    font-family: "Roboto", Arial, sans-serif;
  }

  .backToTop {
    display: none;
  }

  .backToTop a {
    padding: 0;
  }

  .backToTop a:hover {
    color: #DC3932;
  }

  .backToTop p {
    font-weight: 700;
    color: #333;
    margin: 0 0 2% 0;
    padding: 0 0 2% 0;
    width: 56%;
    display: inline-block;
    color: #FFF;
  }

  .backToTop p::before {
    display: inline-block;
    padding-right: 3%;
    font-size: 1.2rem;
    font-weight: 900;
  }

  .workPageWrap {
    background: #FFF;
  }

  .workFlex {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar .sidebar-nav li {
    border: none;
  }

  .sidebar .sidebar-nav li:hover {
    background-color: #F4F4F4;
  }

  .sidebar .sidebar-nav li a {
    font-size: 1.25rem;
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 7%;
    font-weight: 700;
    width: 100%;
  }

  .sidebar .sidebar-nav li a:last-child {
    padding-bottom: 6%;
  }

  .sidebar .sidebar-nav li a:hover,
  .sidebar .sidebar-nav li a.active {
    background: #E9E9E9;
    font-weight: 700;
  }

  .homeIntroImg {
    height: 90vh;
  }

  .welcomeEmphasis {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .welcomeEmphasis span {
    color: #0A89C0;
  }

  .welcomeTitle {
    display: block;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 2% 0 1% 0;
  }

  .welcomeMiddleTitle {
    margin: 0 auto;
    margin-top: 2%;
    padding-bottom: 2.5%;
    border-top: 2px solid #A2A2A2;
    width: 52%;
    border-bottom: 2px solid #A2A2A2;
  }

  .welcomeSpanPipe {
    font-size: 2rem;
    font-weight: 500;
  }

  .bg {
    background: rgba(30, 83, 139, 0.7);
  }

  .fa-hand-paper-o {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #777;
    font-size: 1.75rem;
  }

  .aboutRoleBlock .mainLogo {
    margin: 0 auto;
  }

  .aboutRoleBlock .mainLogo img {
    margin: 0 auto;
    margin-bottom: 1%;
    display: block;
    height: 12.5rem;
    padding-bottom: 3rem;
    padding: 3rem 3rem 0;
  }

  .aboutRoleBlock h2,
  .aboutRoleBlock h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  .aboutRoleBlock h2 {
    margin-bottom: 7%;
    margin: 0;
    line-height: 1.35;
    width: 99%;
    margin-top: 5%;
    font-weight: 600;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    color: #0A89C0;
    text-align: center;
    line-height: 1.1;
  }

  .aboutRoleBlock h2 strong {
    font-weight: 700;
  }

  .aboutRoleBlock h2 a:link {
    color: #777;
    padding: 0 2%;
    border-bottom: 2px dashed;
  }

  .aboutRoleBlock h2 a:link:hover {
    background-color: #1F5395;
  }

  .aboutRoleBlock h3 {
    margin-bottom: 1em;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    letter-spacing: -.020rem;
    font-family: 'Roboto Slab', serif;
    letter-spacing: -0.1rem;
    margin: 0 auto;
    display: block;
    max-width: 80%;
    line-height: 1.2;
    /* font-size: 3rem; */
    margin-bottom: 9%;
  }

  .error404 {
    padding: 2%;
  }

  .error404 h2 {
    font-weight: 300;
    line-height: 1.35;
    margin-top: 5%;
    text-align: center;
    font-size: 3rem;
  }

  .error404 h3,
  .error404 h4 {
    font-family: 'Montserrat', sans-serif;
  }

  .error404 h3 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .error404 h4 {
    font-size: 1.5rem;
    color: #666;
  }

  .summary {
    background: #fff;
    padding-top: 3%;
    padding-bottom: 5%;
  }

  .summary .columns {
    padding-left: 0;
  }

  .summary p {
    margin-left: 0 !important;
    font-size: 1.25rem;
  }

  .workServices h4 {
    margin: 6% 0 0% 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .workServices p {
    font-size: 1.1rem;
  }

  .selectedWork {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.75rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
  }

  .selectedWork h3 {
    margin: 4% 0 5% 0;
  }

  .selectedWork .workItem {
    margin-bottom: 4%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 8%;
  }

  .selectedWork .workItem p {
    margin: 4% 0 3.6% 6%;
    padding-bottom: 0%;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: none;
    color: #333;
  }

  .selectedWork .workItem p:hover {
    color: #0A89C0;
  }

  .selectedWorkGrid {
    margin: 0;
    padding: 0;
    background: #FFF;
  }

  .selectedWorkGrid .columns {
    margin: 0;
    padding: 0;
  }

  .gridImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition-property: -webkit-transform, opacity;
    transition-duration: 0.6s, 0.3s;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
  }

  .gridImgContainer:hover {
    transition-property: -webkit-transform, opacity;
    transition-duration: 0.6s, 0.3s;
  }

  .gridImgContainer h3 {
    padding-top: 4%;
    color: #DC3932;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }

  .gridImgContainer .gridImgLinkTitle {
    position: relative;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    font-size: 2rem;
    padding: 3% 6%;
    display: inline;
  }

  .gridImgLinkTitle {
    padding: 2% 5%;
  }

  .gridImgBg {
    overflow: hidden;
    background-size: cover;
  }

  .cosBgLink,
  .smaBgLink,
  .arrVidBgLink,
  .sportMgmtBgLink,
  .arrBgLink {
    transition-duration: 1.7s;
    background: transparent;
  }

  .cosBgLink:hover,
  .smaBgLink:hover,
  .arrVidBgLink:hover,
  .sportMgmtBgLink:hover,
  .arrBgLink:hover {
    transition-duration: .7s;
    background: rgba(17, 153, 191, 0.85);
  }

  .cosBgLink {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), transparent url("../img/assets/backgrounds/science-bg.jpg") no-repeat center top;
    background-size: cover;
  }

  .smaBgLink {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), transparent url("../img/assets/backgrounds/sma-bg.jpg") no-repeat center top;
    background-size: cover;
  }

  .arrVidBgLink {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), transparent url("../img/assets/backgrounds/arrVidBg.jpg") no-repeat center top;
    background-size: cover;
  }

  .sportMgmtBgLink {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), transparent url("../img/assets/backgrounds/spm-coaching.jpg") no-repeat center top;
    background-size: cover;
    opacity: .9;
  }

  .arrBgLink {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), transparent url("../img/assets/arr-alpaca-origin.jpg") no-repeat 0 32%;
    background-size: cover;
    opacity: .9;
  }

  .moreWorkImg {
    background-color: #2A3A4B;
  }

  .gridImgOverlay {
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridImgOverlay:before {
    background-color: #000;
  }

  .selectedWorkTitle {
    padding-top: 7%;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFF;
    line-height: 1.4;
    padding-left: 0;
    color: #DC3932;
  }

  .selectedWorkTitle h3 {
    font-size: 2rem;
    padding-top: 0;
    text-transform: lowercase;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    letter-spacing: 1.5px;
    font-weight: 500;
  }

  .sectionTitleHightlight {
    display: inline-block;
    margin: 0;
    padding: 1.25% 1.2%;
    color: #FFF;
    background: #B80013;
  }

  .sectionTitleNorm {
    margin: 0;
  }

  .about {
    background: #F2F2F2;
    padding: 0;
  }

  .about .sectionTitle {
    padding-top: 4%;
    font-size: 2rem;
    color: #0B151E;
    margin-top: 7%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .about hr {
    display: none;
  }

  .about .aboutText {
    padding: 0 7% 0 2%;
  }

  .about h3 {
    margin: 0;
    font-size: 2.5rem;
    padding-bottom: .75%;
    font-family: 'Roboto Slab', serif;
    color: #0A89C0;
  }

  .about p {
    margin: 0;
    font-size: 1.3rem;
  }

  .about .about p {
    font-size: 1.3rem;
    padding-left: 10.5%;
    padding-right: 7.5%;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .about a {
    display: block;
  }

  .aboutContent {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
  }

  .aboutContent p {
    margin-top: 0%;
    padding: 0 6%;
    font-size: 1.25rem;
  }

  .contact .sectionTitle {
    padding-top: 4%;
    font-size: 2.5rem;
    color: #0B151E;
  }

  .contact .columns {
    padding-left: 0;
  }

  .contact p {
    margin-bottom: 7%;
    font-size: 1.5rem;
  }

  .contact a {
    color: #FFF;
  }

  .contact .ctaButtons {
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 14%;
    margin-bottom: 4%;
    padding: 3%;
    width: 100%;
    font-size: 1.5rem;
  }

  .contact button {
    padding: 4% 17%;
    background: steelblue;
    border: 1px solid #ccc;
  }

  table tr.even,
  table tr.alt,
  table tr:nth-of-type(even) {
    background: transparent;
  }

  .indexWork {
    background: #F7F7F7;
  }

  .indexProjects {
    background: #F7F7F7;
  }

  .indexAbout {
    background-color: #F7F7F7;
  }

  .indexForm {
    background: #0A89C0;
  }

  .lastWork {
    margin-bottom: 5%;
  }

  .services .servicesLabel {
    font-size: 1.5rem;
    font-family: "Roboto Slab", serif;
    color: #AAA;
    margin-left: 14px;
  }

  .services .columns + .serviceLast:last-child {
    float: left;
  }

  .services ul {
    margin-left: .9rem;
  }

  .services li {
    list-style: none;
    color: #434343;
    line-height: 1.57;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 1.25% 0;
    letter-spacing: 0.5px;
  }

  .indexSkills {
    background: #F2F2F2;
    padding: 6% 0;
    padding-bottom: .5%;
  }

  .skillList {
    background: #000026;
  }

  .skillPanel h4 {
    font-size: 1.75rem;
    margin-bottom: 3%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }

  .skillPanel p {
    line-height: 1.45rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .skillPanel .listDes {
    color: #666;
    font-weight: 400;
    margin-bottom: 2.5%;
  }

  .skillPanel .skillList {
    margin-left: 0;
    list-style: none;
  }

  .skillPanel li {
    line-height: 1.45rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #666;
  }

  .indexAbout {
    padding-top: 3.75%;
  }

  .aboutMatte {
    margin: 0;
    padding: 6% 6% 9%;
    background: #F2F2F2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  }

  .profilePic {
    margin: 0 auto;
    height: 170px;
    background-color: #333;
    border-radius: 50%;
    display: block;
    margin-top: 8%;
    margin-bottom: 9%;
  }

  .indexAbout h3.twoColumnTitle {
    margin-top: 6%;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }

  .indexAbout .twoColumnText {
    margin-bottom: 14%;
  }

  .indexAbout p {
    font-weight: 300;
    font-size: 1.15rem;
  }

  .indexForm {
    padding: 7% 4% 8% 4%;
  }

  .indexForm hr {
    display: none;
  }

  .indexForm article {
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    margin: 2% 0 5% 0;
    padding: 0 4%;
  }

  .indexForm input,
  .indexForm textarea {
    border: none;
    background-color: #f2f2f2;
    width: 100%;
    box-shadow: inset 0px 3px 8px rgba(0, 0, 0, 0.075);
    font-family: 'Montserrat', sans-serif;
  }

  .indexForm input {
    margin-bottom: 4%;
    padding: 4%;
  }

  .indexForm textarea {
    padding-left: 1.2%;
    padding-top: 1%;
  }

  #comment {
    height: 6.4rem;
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 4%;
    color: #555;
  }

  .contactFormGreeting {
    margin: 5% 0 5% 0;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #0A89C0;
  }

  #contactFormSubmit {
    margin: 0 auto;
    display: block;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin-top: 4%;
    margin-bottom: 8%;
    width: 100%;
    padding: 6%;
    border: 1px solid #eee;
    font-weight: 700;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    background: rgba(10, 137, 192, 0.75);
    color: #FFF;
  }

  #contactFormSubmit:hover {
    color: #FFF;
    background: #0A89C0;
    border: 1px solid transparent;
  }

  .contactThanksBlock {
    margin-top: 32%;
    padding: 2% 4%;
    z-index: 999;
    border: 4px solid #FFF;
    background-color: rgba(17, 153, 191, 0.7);
  }

  .contactReturnHome {
    margin: 0 auto;
    display: block;
    margin-top: 27px;
    background-color: #F6F6F6;
    color: #0A89C0;
  }

  .socialLinks {
    margin: 3% 0 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: block;
  }

  .socialLinks li {
    display: inline-block;
    padding: 0 1.25rem;
    font-size: 4rem;
  }

  .socialLinks li .fa-twitter,
  .socialLinks li .fa-linkedin {
    margin: 0;
    padding: 0;
    color: #F0F0F0;
    background-image: none;
    border: none;
  }

  .socialLinks li .fa-twitter:hover,
  .socialLinks li .fa-linkedin:hover {
    color: #0A89C0;
  }

  .workImg {
    margin: 0 auto;
    display: block;
  }

  .sectionTitleBlock {
    margin-left: 0;
  }

  .sectionTitle {
    letter-spacing: 1px;
    font-size: 1.76rem;
    margin-bottom: 0;
  }

  .cosDelivery .fullMatteAfter {
    margin-bottom: 5%;
  }

  .originSectionTitle {
    color: #FFF;
  }

  .originTitle {
    padding: 4% 0 2% 0;
    color: #0A89C0;
  }

  .homeName {
    color: #fff;
    font-size: 2.75rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }

  .homeSub {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }

  .homeSub span {
    color: #FFF;
    font-weight: 300;
    letter-spacing: .07rem;
  }

  .centeredImg {
    margin: 0 auto;
    width: 88%;
  }

  .workBody {
    background: #0A89C0;
  }

  .figureCallout {
    border: 2rem solid #EEE;
    border: none;
  }

  .calloutCaption p {
    margin-top: 3%;
    text-align: center;
    color: gray;
    font-weight: 100;
    font-size: 1.3rem;
  }

  .figureCopyDesc {
    background: #FFF;
    font-size: 1.2rem;
    padding: 1% 4% 1%;
  }

  .figureCopyDesc h3 {
    margin-bottom: 0;
  }

  .DAMLibraryBg {
    background: url("../img/work/dam-library.jpg") no-repeat left top;
    background-size: cover;
    height: 391px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
  }

  .sansImgCopy {
    margin-bottom: 5%;
  }

  figure {
    margin: 0 auto;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.85);
  }

  .noShadow {
    box-shadow: none !important;
  }

  iframe {
    margin: 0 auto;
    display: block;
  }

  .figureBorder {
    border: 2px solid #f2f2f2;
  }

  .formSuccess h2 {
    font-size: 3rem;
  }

  .formSuccess h3 {
    font-size: 2.5rem;
  }

  .backtoHomepage button {
    margin: 0 auto;
    display: block;
    background: #1199bf;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 4% 7%;
  }

  .backtoHomepage button:hover {
    background: #0A89C0;
  }

  .arrResearchImg {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 90%, #FFF 100%) repeat scroll 0% 0%, transparent url("../img/work/arr/arr-dexter-cattle.jpg") no-repeat 0 -80px;
    background-size: cover;
  }

  .twoColumnCaption p,
  .centeredCaption p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    font-size: .95rem;
    font-weight: 400;
    color: #4A4A4A;
  }

  .twoColumnCaption p {
    padding: 0 7%;
    padding: 5% 5% 5% 6%;
  }

  .centeredCaption p {
    margin: 0;
    padding: 3% 2% 2% 2%;
    text-align: center;
    border: 1px solid #eee;
    color: #4A4A4A;
    font-size: .9rem;
    font-weight: 400;
  }

  .noFill {
    background: #0A89C0;
  }

  .contrastCaption {
    background: #0A89C0;
    border: none;
  }

  .contrastCaption p {
    color: #FFF;
    margin: 0;
    padding: 1%;
    font-size: 1.3rem;
    color: #FFF;
    text-align: center;
  }

  .twoColumnCentered p {
    font-family: 'Montserrat', sans-serif;
    padding: 1.25% 0 1.1% 0;
    text-align: center;
  }

  .workTitleBlock {
    margin-top: 69px;
  }

  .workTitleBlock h2 {
    font-size: 2.3125em;
  }

  .workTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    line-height: 1.45;
    padding-left: 4%;
    margin-bottom: 0;
  }

  .workTitle h2 {
    font-size: 2.3125em;
  }

  .workSubTitle {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-bottom: 9%;
    font-size: 1.25rem;
    padding-left: 4%;
    font-weight: 400;
  }

  section .copyWrap {
    padding: 0 7%;
  }

  .project {
    margin-top: 4%;
    overflow: hidden;
  }

  .otherProjects {
    margin-top: 4%;
    overflow: hidden;
  }

  .projectImg,
  .otherProjectImg {
    position: relative;
    background-size: cover;
    height: 300px;
    background-color: #333;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
  }

  .arrInternImg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/work/mobile/moreWorkTileMobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .moreWorkProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/work/mobile/moreWorkTileMobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .devicesProjectImg {
    background: url("../img/assets/backgrounds/devicesBg.jpg") no-repeat 67% center;
    background-size: cover;
  }

  .arrPromoProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/worklist/arrVidBg.jpg") no-repeat center center;
  }

  .projectTitle h3 {
    padding: 10% 0 0 7%;
    font-size: 1.75rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: left;
    color: #FFF;
  }

  .moreWorkTitle h3 {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 44%;
    left: 30%;
    font-weight: 400;
    text-align: left;
    color: #FFF;
    font-weight: 700;
  }

  .projectDesc {
    display: none;
    width: 50%;
    margin: 0 auto;
  }

  .projectDesc p {
    color: #333;
    margin-top: -7px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    line-height: 1.65;
    margin-top: 3%;
  }

  section img {
    margin-bottom: 0;
  }

  .projectBackground {
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .projectBackground p {
    color: #979797;
  }

  .twoColumnImages {
    padding: 0% 5% 4.5% 5%;
  }

  .originCallout {
    background: #0A89C0;
  }

  .sptmOrigins {
    background-color: #EEE;
  }

  .cosResearch,
  .homeIntroBlock,
  .projectProcess,
  .imgWithSupportingText cosDeliveryHomepage,
  .workServices,
  .contact,
  .cosConcl,
  damLibrary {
    padding: 0 4%;
  }

  .projectProcess,
  .imgWithSupportingText .cosDeliveryHomepage,
  .cosDeliveryHeroImg,
  .workServices,
  .contact,
  .homeIntroBlock,
  .projectNotes {
    padding: 2% 4%;
  }

  .damLibrary {
    overflow: hidden;
  }

  .damLibrary img {
    transform: scale(1.25);
  }

  .lightProcessTitle {
    color: #fff;
    padding-top: 2%;
  }

  .lightProcessTitle:after {
    color: #FFF;
  }

  .underlineShort:after {
    content: '';
    height: 6px;
    width: 1.3em;
    display: block;
    position: absolute;
    bottom: -.01em;
  }

  .themedft {
    color: #333;
  }

  .themedft:after {
    background-color: #333;
  }

  .themedContrast {
    color: #FFF;
  }

  .themedContrast:after {
    background-color: #FFF;
  }

  whiteContrast {
    color: #FFF;
  }

  whiteContrast:after {
    content: '';
    height: 6px;
    width: 1.3em;
    display: block;
    position: absolute;
    bottom: -.01em;
    background-color: #FFF;
  }

  .whiteContrast {
    background: #FFF;
  }

  .themedBlackContrast {
    color: #A0A0A0;
  }

  .themedBlackContrast p {
    color: #A0A0A0;
  }

  .twoColumnContrast p {
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.45;
  }

  .homeIntro {
    margin: 0 auto;
    display: block;
    margin-top: 20%;
  }

  .selectedWork {
    font-size: 1.65rem;
    font-weight: 400;
  }

  .workLead {
    max-width: 96%;
    background: #FFF;
    padding: 4% 6%;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
  }

  .workLead p {
    font-size: 2rem;
    line-height: 1.3;
    color: #0A89C0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

  .servicesDeliverables {
    margin: 4% 4% 8.5% 0;
    padding: 5%;
    background: #FFF;
  }

  .servicesDeliverables h3 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 2%;
    font-weight: 500;
    border-bottom: 2px solid #777;
    width: 26%;
  }

  .servicesDeliverables ul {
    margin: 0;
    padding: 0;
  }

  .servicesDeliverables ul li {
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    color: #777;
  }

  .large-block-grid-3 > li {
    padding: 2% 2.55%;
  }

  .subheader {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Roboto";
    font-size: 1.14rem;
    color: #aaa;
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

  .thumbnail {
    overflow: hidden;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  }

  .workLink .workLinkImg {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  a.workLink:hover .workLinkImg {
    -webkit-transform: scale(1.07);
    /* Safari and Chrome */
    -moz-transform: scale(1.07);
    /* Firefox */
    -ms-transform: scale(1.07);
    /* IE 9 */
    -o-transform: scale(1.07);
    /* Opera */
    transform: scale(1.07);
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  .workLink h3 {
    padding: 1.5% 0 .5% 0;
    font-size: 1.65rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }

  a.workLink .learnMore {
    font-weight: 700;
    color: #0A89C0;
    padding-bottom: 1%;
  }

  a.workLink:hover .learnMore {
    color: #0A89C0;
  }

  .learnMoreArrow {
    text-decoration: none;
    font-size: 1.45rem;
    color: #0A89C0;
  }

  a.workLink .learnMoreArrow {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  a.workLink:hover .learnMoreArrow {
    margin-left: 7px;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  .workLinkImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .gridWork li {
    transition-duration: .4s;
    transition-timing-function: ease-in;
  }

  .gridWork li:hover {
    background-color: #F5F5F5;
    transition-duration: .4s;
    transition-timing-function: ease-in;
  }

  .gridWork p {
    color: #333;
    margin-top: -7px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    font-size: 1.25rem;
  }

  .gridWork p span {
    color: #0A89C0;
  }

  .servicesProvided,
  .deliverablesProvided {
    display: none;
    color: #555;
    font-size: 1.4rem;
  }

  .servicesProvided h4,
  .deliverablesProvided h4 {
    margin-top: 0;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  .servicesProvided ul,
  .deliverablesProvided ul {
    margin-left: 0;
    margin-bottom: 5%;
    list-style: none;
  }

  .servicesProvided li,
  .deliverablesProvided li {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .servicesProvided ul li p,
  .deliverablesProvided ul li p {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .notes {
    margin-top: -6.5%;
    margin-top: 3%;
    padding-top: 2%;
    border-top: 0.2rem solid #333;
    margin-bottom: 3.5%;
    border-bottom: 0.2rem solid #333;
    line-height: 1.8;
    width: 100%;
    margin: 0 auto;
  }

  .notes p {
    margin: 0 0 11px 0;
    color: #333;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .notes p:last-child {
    border-left: none;
  }

  .notes p span {
    font-style: italic;
    font-weight: 700;
    color: #333;
  }

  .workBlock a {
    font-size: 1rem;
  }

  .workBlock a .fa-arrow-left,
  .workBlock a .fa-arrow-right {
    font-size: 1.5rem;
  }

  .workBlock a .fa-arrow-left {
    padding-right: 4.5%;
  }

  .workBlock a .fa-arrow-right {
    padding-left: 4.5%;
  }

  .workBlock a .fa-columns {
    font-size: 1.75rem;
  }

  .moreWorkLeft {
    padding-right: 0;
  }

  .workHomeBlock {
    padding: 0;
  }

  .moreWorkRight {
    padding-left: 0;
  }

  .workLeftNav,
  .workRightNav,
  .workHomeNav {
    height: 5rem;
    border: 1px solid #ddd;
  }

  .workLeftNav:hover,
  .workRightNav:hover,
  .workHomeNav:hover {
    font-weight: 500;
  }

  .workHomeNav {
    border-left: none;
    border-right: none;
  }

  .workHomeNav {
    padding: 17.5% 0 0 0;
    text-align: center;
  }

  .workHomeNav:hover {
    border-top: 1px solid #0A89C0;
    border-left: 1px solid #0A89C0;
    border-right: 1px solid #0A89C0;
    border-bottom: 1px solid #0A89C0;
  }

  .workLeftNav {
    text-align: left;
    padding: 21% 0% 7% 13%;
    border-left: 0;
  }

  .workLeftNav:hover {
    border-top: 1px solid #0A89C0;
    border-right: 1px solid #0A89C0;
    border-bottom: 1px solid #0A89C0;
  }

  .workRightNav {
    text-align: right;
    padding: 21% 13% 7% 0;
    border-right: 0;
  }

  .workRightNav:hover {
    border-top: 1px solid #0A89C0;
    border-left: 1px solid #0A89C0;
    border-bottom: 1px solid #0A89C0;
  }

  .moreWork {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 1.5% 1.7%;
    margin-top: 5%;
    font-size: 1.25rem;
    border-radius: 3px;
    background-color: darkcyan;
    color: darkgoldenrod;
  }

  .moreWork a {
    color: darkblue;
  }

  .moreWork a:hover {
    text-decoration: none;
    color: black;
  }

  .moreWorkHome {
    padding-left: 0;
    padding-right: 0;
  }

  #cosSitemap {
    background: gray url("../img/backgrounds/cosSitemapBg.jpg") no-repeat center center;
    background-size: cover;
  }

  #sptmProcess {
    background: gray url("../img/backgrounds/folder-design.jpg") no-repeat 0 -85px;
    background-size: cover;
  }

  #sptmBg {
    background: gray url("../img/backgrounds/sptmBg.jpg") no-repeat top center;
    background-size: cover;
  }

  .trans {
    height: 45px;
  }

  .homeIntroImg {
    height: 40%;
    height: 60vh;
    height: 85vh;
    height: 45vh;
  }

  .introImg {
    height: 30%;
    width: 100%;
  }

  .homeIntroImg {
    background: gray url("../img/assets/homeBg.jpg") no-repeat top center;
    background-size: cover;
  }

  .indexBg {
    background: #F7F7F7;
  }

  .cosBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/work/cos/cos-mobile.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .capsBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/capsBg.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .smaBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/smaBgToned.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .howlsBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/howlsBg.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .uncTVBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/uncTVBg.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .arrPromosBg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/worklist/arrVidBg.jpg") no-repeat center center;
  }

  .sportMgmtBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/sportMgmtBgToned.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .arrBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/arrRanchBgToned.jpg) no-repeat 8% 32%;
    background-size: cover;
  }

  .arrPromoImg {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), transparent url("../img/assets/m/arrPromoTileMobile.jpg") no-repeat 8% 32%;
    background-size: cover;
    opacity: .9;
  }

  .arrPromoBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/worklist/arrVidBg.jpg) no-repeat 8% 32%;
    background-size: cover;
  }

  .kineticBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/kineticBg.jpg) no-repeat 67% center;
    background-size: cover;
  }

  .devicesBg {
    background: linear-gradient(to bottom, transparent, #0a89c0), url(../img/assets/backgrounds/devicesBg.jpg) no-repeat 70% 29%;
    background-size: cover;
  }

  .takeChargeImg {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("../img/assets/backgrounds/takeChargeHeader.png") no-repeat center center;
    background-size: cover;
  }

  .youtubePlayer {
    background: #0A89C0;
  }

  .twoColumnTitle {
    font-weight: 700;
  }

  .bodyCopy {
    padding: 3% 0 0 0;
  }

  .bodyCopy h3 {
    font-size: 1.76em;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0;
    color: #333;
    font-weight: 700;
  }

  .bodyCopy p {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.45;
  }

  .bodyCopy i,
  .bodyCopy b {
    font-weight: 500;
    font-style: italic;
  }

  .twoColumnTitle {
    margin-bottom: 0;
  }

  .twoColumnText p {
    color: #434343;
    line-height: 1.57;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .twoColumnImg {
    width: 100%;
    margin: 0 auto;
  }

  .overlayTextMatte {
    background-color: rgba(255, 255, 255, 0.89);
    padding: 5%;
  }

  .nextProject h3 {
    margin-bottom: 0;
    font-size: 1.25em;
    line-height: 1.2;
    color: #48525c;
    text-align: center;
  }

  .footerNext {
    background-color: #FAFAFA;
  }

  .footerNext h3 {
    font-size: 2.25rem;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 2px 16px #333;
    margin-top: 2%;
  }

  .footerNextTitle {
    font-size: 1.95rem;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 2px 16px #333;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  .footerNext:hover .footerNextTitle {
    text-decoration: underline;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
  }

  .footerNextImg {
    border-top: 15px solid #F6F6F6;
    padding: 13% 0;
    pading-top: 2%;
    padding-bottom: 20%;
  }

  .footerNextSportMgmtBg {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 90%, #f6f6f6 100%) repeat scroll 0% 0%, transparent url("../img/work/spm-coaching.jpg") no-repeat center top;
    background-size: cover;
  }

  .footerNextArrBg {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 90%, #F6F6F6 100%) repeat scroll 0% 0%, transparent url("../img/work/arr/arr-dexter-cattle.jpg") no-repeat 0 31%;
    background-size: cover;
  }

  footer {
    margin-bottom: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-bottom: 0;
    padding-bottom: 2%;
    background: #004E7E;
  }

  footer p {
    font-size: .9rem;
    text-align: center;
    color: #FFF;
  }

  footer ul {
    text-align: center;
    margin-left: 0;
  }

  footer ul li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 2.5%;
  }

  footer ul li a {
    color: #FFF;
    display: inline-block;
    margin: 1%;
    padding: 20% 20% 9% 20%;
    font-size: .9rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }

  footer ul li a:hover {
    color: #FFF;
    border-bottom: 3px solid #FFF;
  }

  .error404Block {
    margin-top: 32%;
    padding: 2% 4%;
    z-index: 999;
    background-color: transparent;
    border: 2px solid #FFF;
    border: 4px solid #FFF;
    background-color: rgba(17, 153, 191, 0.7);
    position: static;
    margin-top: 21%;
  }

  .roleTitles {
    padding: 0 7%;
  }

  @media only screen and (min-width: 400px) {
    .welcomeTitle {
      font-size: 2.5rem;
      font-weight: 400;
      padding: 2.5%;
    }
  }

  @media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    .roleTitles {
      padding-top: 5%;
    }
    .aboutRoleBlock {
      padding-bottom: 2%;
    }
    .aboutRoleBlock .mainLogo img {
      padding: .5rem 3rem 0;
    }
    .aboutRoleBlock h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3.2rem;
    }
    .aboutRoleBlock h3 {
      margin-top: 0;
      padding-top: 1.5%;
    }
    .welcomeEmphasis {
      margin-top: 0;
    }
    .welcomeTitle {
      display: inline-block;
      font-size: 1.26rem;
      font-weight: 600;
      padding-top: 1%;
    }
    .welcomeSpanPipe {
      display: inline-block;
      font-size: 3rem;
    }
    .welcomeMiddleTitle {
      border: none;
    }
    .selectedWorkTitle h3 {
      font-size: 2rem;
      padding-top: 15%;
    }
    .icons {
      font-size: 4rem;
      padding: 0 0 10% 0;
    }
  }

  @media only screen and (min-width: 550px) {
    .indexHome {
      height: 88%;
    }
    .homeTitleBlock {
      margin-top: 14%;
      padding: 3% 4%;
    }
    .projectImg,
    .otherProjectImg {
      background-size: cover;
      height: 200px;
    }
    .projectTitle h3 {
      padding: 12.7% 0 .5% 27px;
      font-size: 2.5rem;
    }
    .indexAbout .twoColumnText {
      margin-bottom: 6%;
    }
    .contactFormGreeting {
      text-align: center;
    }
    #contactFormSubmit {
      padding: 4%;
    }
    .servicesDeliverables {
      margin: 4% 4% 8.5% 4%;
    }
  }

  @media only screen and (min-width: 768px) {
    .aboutRoleBlock {
      padding-bottom: 0;
    }
    .aboutRoleBlock .mainLogo img {
      padding: .5rem 3rem 0;
    }
    .aboutRoleBlock h2 {
      font-size: 3.5rem;
      margin-top: 7%;
    }
    .welcomeTitle {
      display: inline-block;
    }
    .welcomeSpanPipe {
      display: inline-block;
    }
    .welcomeMiddleTitle {
      width: auto;
      margin: auto;
      border: none;
    }
    .linkTypePrefix {
      margin-top: 5%;
    }
    .notes p {
      padding-top: 3%;
    }
    .notes p:last-child {
      margin-left: 0;
      border-left: 0;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
    .aboutMatte {
      margin: 0 auto;
      max-width: 100%;
      padding: 6% 8.8%;
    }
    #comment {
      padding: 2%;
    }
  }

  @media only screen and (min-width: 35em) {
    .icons {
      font-size: 5rem;
      padding: 0 0 6% 0;
    }
    .project {
      margin-top: 4%;
      overflow: hidden;
    }
    .projectImg,
    .otherProjectImg {
      transition: all 1s ease;
      height: 250px;
    }
    .arrPromoImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/assets/arrVidBg.jpg") no-repeat center center;
      background-size: cover;
    }
    .spmProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/work/-spm-coaching.jpg") no-repeat center center;
    }
    .smaProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/work/sma/sma-meeting-header.jpg") no-repeat center center;
      background-size: cover;
    }
    .projectTitle h3 {
      padding: 22.7% 0 .5% 20px;
      font-size: 2.75rem;
    }
    .projectDesc {
      display: none;
      width: 50%;
      margin: 0 auto;
    }
    .projectDesc p {
      margin-top: -7px;
      font-size: 1.3rem;
      line-height: 1.65;
      margin-top: 3%;
    }
    .indexWork {
      padding: 4%;
      background: #0A89C0;
    }
    .indexProjects {
      padding: 4%;
      background: #0A89C0;
    }
    .indexAbout {
      background-color: #F7F7F7;
      background-color: #f2f2f2;
      padding-bottom: 4%;
    }
    .indexForm {
      padding-top: 4%;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .gridImgContainer h3 {
      margin-left: 0;
    }
    .otherWork .otherWorkLink {
      width: 47%;
    }
    .selectedWorkTitle {
      padding-top: 2%;
    }
    .selectedWorkTitle h3 {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
    .skillsList {
      padding-top: 4%;
      background: #FFF;
    }
    .about p {
      font-size: 1.2rem;
    }
    .about .sectionTitle {
      margin-top: 4%;
      text-align: center;
    }
    .aboutContent {
      margin: 0 auto;
      display: block;
    }
    .aboutContent p {
      width: 60%;
      width: 103%;
      margin: 0 auto;
      padding-top: 2%;
    }
    .profilePic {
      border-radius: 0;
      margin-top: 1%;
    }
    .contact .sectionTitle {
      padding-top: 2%;
    }
    .contactContent {
      margin: 0 auto;
    }
    .contact .sectionTitle {
      text-align: center;
    }
    .indexForm {
      padding-bottom: 2%;
    }
    .workTitleBlock {
      margin-top: 136px;
      margin-top: 174px;
    }
    .arrDirImg {
      max-width: 70%;
    }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none;
      width: 50%;
    }
    .trans {
      height: 0;
    }
    .medium-6 {
      width: 100%;
    }
    .sidebar .sidebar-nav li a:hover,
    .sidebar .sidebar-nav li a.active {
      background: transparent;
      font-weight: 700;
    }
    .indexHome {
      height: 70%;
    }
    .contact p {
      text-align: center;
    }
    .ctaCall {
      display: none;
    }
    .ctaButtons:last-of-type {
      margin: 0 auto;
    }
    .homeTitleBlock {
      margin-top: 30%;
      padding: 3% 4%;
    }
    .contactFormGreeting {
      text-align: center;
    }
    .contactThanksBlock {
      margin-top: 30%;
      padding: 3% 4%;
    }
    .error404Block {
      margin-top: 30%;
      padding: 3% 4%;
    }
    .each {
      margin: 7% 0 5% 0;
    }
    .servicesProvided,
    .deliverablesProvided {
      color: #555;
      font-size: 1.4rem;
    }
    .servicesProvided h4,
    .deliverablesProvided h4 {
      margin-top: 0;
    }
    .servicesProvided ul,
    .deliverablesProvided ul {
      margin-left: 0;
      margin-bottom: 5%;
      list-style: none;
    }
    .servicesProvided li,
    .deliverablesProvided li {
      font-size: 1rem;
      line-height: 1.75rem;
    }
    .servicesProvided ul li p,
    .deliverablesProvided ul li p {
      font-size: 1.25rem;
      font-weight: 300;
    }
    .servicesProvided ul li p,
    .deliverablesProvided ul li p {
      font-size: 1.25rem;
      font-weight: 300;
    }
    .sectionTitle {
      font-size: 1.76rem;
    }
    .homeIntroImg {
      height: 432px;
      height: 60vh;
      height: 50vh;
    }
    .introImg {
      height: 371px;
    }
    .servicesDeliverables {
      margin: 0;
      padding: 4.3% 0% 6% 0%;
    }
    .originImg {
      margin: 0 auto;
      display: block;
      max-width: 170%;
      box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
      background: #FFF;
    }
    .overlayTextMatte {
      background-color: #FFF;
      margin: 16% 0px 11% 0%;
      padding: 10% 10% 7% 10%;
    }
    .overlayTextMatte p {
      font-size: 1.275rem;
      font-weight: 700;
      color: #343434;
    }
    .notes {
      margin-top: 1%;
      padding-top: 0;
      margin-bottom: 2%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4%;
    }
    .notes p {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 3%;
    }
    .notes p:last-child {
      margin-left: 5%;
      padding-top: 3%;
      padding-left: 3%;
      padding-bottom: 3%;
    }
    .workHomeNav {
      padding: 17% 0 0 0;
      text-align: center;
    }
    .workLeftNav {
      text-align: left;
      padding: 6.4% 0 7% 18%;
    }
    .workHomeNav {
      padding: 6.25% 0 0 0;
    }
    .workRightNav {
      text-align: right;
      padding: 6.4% 21% 0 0%;
    }
    .workBlock a {
      font-size: 1.5rem;
    }
    .workBlock a .fa-arrow-left,
    .workBlock a .fa-arrow-right {
      font-size: 1.5rem;
    }
    .workBlock a .fa-arrow-left {
      padding-right: 4.5%;
    }
    .workBlock a .fa-arrow-right {
      padding-left: 4.5%;
    }
    .workBlock a .fa-columns {
      font-size: 1.75rem;
    }
    .centeredCaption p {
      margin: 0;
      padding: 2%;
      font-size: 1.3rem;
    }
    footer p {
      font-size: 1rem;
    }
  }

  @media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    .selectedWorkTitle h3 {
      font-size: 2rem;
      padding-top: 6%;
    }
    .welcomeMiddleTitle {
      width: auto;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .indexHome {
      height: 80%;
    }
    .homeTitleBlock {
      margin-top: 10%;
    }
    .selectedWork {
      margin-bottom: -6px;
    }
    .projectTitle h3 {
      padding: 24.7% 0 0.5% 44px;
      font-size: 2.25rem;
    }
    .cosBg,
    .sportMgmtBg {
      padding-bottom: 46%;
    }
    .introImg {
      height: 300px;
    }
    .sidebar .sidebar-nav li a:last-child {
      padding-bottom: 4%;
    }
    .sidebar .sidebar-nav li a {
      padding-top: 4%;
    }
  }

  @media only screen and (min-width: 45em) {
    .homeTitleBlock {
      margin-top: 18%;
      padding: 5% 4%;
    }
    .damLibrary img {
      transform: scale(1);
    }
    .contactThanksBlock {
      margin-top: 18%;
      padding: 5% 4%;
    }
    .error404Block {
      margin-top: 18%;
      padding: 5% 4%;
    }
  }

  @media only screen and (min-width: 60em) {
    .roleTitles {
      padding: 0 0;
    }
    .backToTop {
      display: none;
    }
    .about .aboutText {
      padding: 0 11% 0 0;
    }
    .backtoHomepage button {
      margin: 0 auto;
      display: block;
      background: #1199bf;
      color: #FFF;
      font-size: 1.75rem;
      font-weight: 700;
      padding: 2% 3%;
    }
    .backtoHomepage button:hover {
      background: #0A89C0;
    }
    .error404 {
      padding: 5%;
      height: 90vh;
    }
    .error404 h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      line-height: 1.35;
      margin-top: 5%;
      text-align: center;
      font-size: 5rem;
    }
    .error404 h3 {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.75;
      margin-bottom: 1.7em;
      font-weight: 300;
      color: #1199bf;
      font-size: 2em;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 0;
    }
    .error404 h4 {
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      color: #666;
      text-align: center;
    }
    .snglHome {
      margin: 0;
      position: absolute;
      width: 100%;
      top: 0;
    }
    .homeContent {
      margin-left: 0;
      margin-right: 0;
    }
    .homeIntroBlock,
    .workServices,
    .contact {
      margin: 0 auto;
      padding: 0;
      width: 81%;
    }
    .homeIntroBlock {
      padding-top: 9%;
      padding-top: 6.75%;
    }
    .homeIntroBlock h2 {
      text-align: center;
    }
    .aboutRoleBlock {
      padding: 6.25% 8.75% 3.75% 8.75%;
      background: #F0F0F0;
    }
    .aboutRoleBlock h2 {
      margin-top: 5%;
      font-size: 5.45rem;
      margin-top: 0;
      line-height: 1.35;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 4%;
    }
    .aboutRoleBlock h3 {
      font-size: 3rem;
      margin-bottom: 1.7em;
      margin-top: 0;
      max-width: 57%;
    }
    .welcomeTitle {
      font-weight: 600;
      font-size: 2rem;
    }
    .projectTitle {
      visibility: visible;
    }
    .projectTitle h3 {
      top: 64%;
      font-size: 2.4rem;
    }
    .aboutText {
      padding: 0 9% 0 0%;
    }
    .lastWord {
      border-bottom: none;
    }
    .arrLogo {
      width: 60%;
      border: none;
    }
    .projectProcess {
      padding: 2% 4%;
      margin: 0 auto;
      padding: 0;
      width: 81%;
      margin: 0 auto;
      padding: .75% 0% 5% 0;
    }
    .projectProcess .columns {
      margin: 0;
      padding: 0;
    }
    .imgWithSupportingText {
      margin: 0 auto;
      padding: 0;
      width: 81%;
    }
    .about {
      padding: 0;
      border-top: 0;
      border-bottom: 0;
    }
    .about .sectionTitle {
      margin-top: 4%;
    }
    .aboutContent p {
      width: 73%;
      padding-top: 0;
    }
    .profilePic {
      height: 225px;
      margin-top: 3.83rem;
    }
    .contact p {
      margin-bottom: 3%;
      font-size: 1.75rem;
    }
    .contact .ctaEmail {
      margin-bottom: 6%;
    }
    .centeredImg {
      margin: 0 auto;
      width: 82%;
    }
    .project {
      margin-top: 4%;
      overflow: hidden;
    }
    .projectImg,
    .otherProjectImg {
      height: 60vh;
      transition: all 1s ease;
      max-width: 1360px;
      margin: 0 auto;
    }
    .projectImg:hover,
    .otherProjectImg:hover {
      transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    .bodyCopy {
      padding: 3% 0 4% 0;
    }
    .twoColumnContent {
      padding-bottom: 9%;
    }
    .twoColumnContent figure {
      border-bottom: none;
    }
    .twoColumnContent .bodyCopy {
      padding-top: 0;
    }
    .twoColumnContent .bodyCopy h3 {
      margin-top: 0;
    }
    .copyLeft {
      margin-left: 0 !important;
      width: 80% !important;
    }
    .arrInternImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.84)), url("../img/work/arr/arr-dexter-cattle.jpg") no-repeat center center;
      background-size: cover;
    }
    .takeChargeImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("../img/assets/backgrounds/takeChargeHeader.png") no-repeat center center;
      background-size: cover;
    }
    .projectTitle h3 {
      padding: 13.7% 0 .5% 0;
      font-size: 2.75rem;
      text-align: center;
    }
    .projectDesc {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
    .projectDesc p {
      margin-top: -7px;
      font-size: 1.3rem;
      line-height: 1.65;
      margin-top: 3%;
    }
    .indexAbout {
      background-color: #f2f2f2;
      padding-bottom: 4%;
    }
    .indexAbout article {
      background-color: #f7f7f7;
    }
    .damLibrary {
      padding: 0;
    }
    .workTitle {
      font-size: 3.4rem;
    }
    .workSubTitle {
      font-size: 2rem;
    }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      width: 33.3333%;
    }
    .sidebar .sidebar-nav li:hover {
      background-color: transparent;
    }
    .sidebar .sidebar-nav li a {
      background-color: transparent;
    }
    #particles-js {
      height: 100%;
    }
    .backgroundCard {
      background: transparent;
      margin: 0 auto;
      width: 81%;
    }
    .servicesProvided,
    .deliverablesProvided {
      display: block;
    }
    .homeTitleBlock {
      margin-top: 0;
      position: absolute;
      top: 28%;
      left: 24%;
    }
    .contactThanksBlock {
      margin-top: 0;
      position: absolute;
      top: 28%;
      left: 24%;
    }
    .error404Block {
      margin-top: 8%;
    }
    .infoBlock {
      margin-top: 1.5%;
    }
    .servicesDeliverables {
      padding: 0 0 0 5.25%;
      box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
      background: #fff;
    }
    .servicesDeliverables h3 {
      margin-top: 8%;
      border-bottom: 2px solid #777;
      width: 32%;
    }
    .servicesDeliverables table {
      background: transparent;
      width: 90%;
    }
    .servicesDeliverables tr {
      background-color: transparent;
    }
    .servicesDeliverables td,
    .servicesDeliverables th {
      border: none;
    }
    .servicesDeliverables th {
      font-family: "Roboto Slab";
      font-size: 1.25rem;
      font-weight: 400;
      padding: 0 35px;
      line-height: 1.5;
      vertical-align: top;
      padding-right: 4%;
    }
    .servicesDeliverables td {
      font-family: "Roboto Slab";
      font-size: 1.25rem;
      font-weight: 300;
      padding: 12px 28px 12px 0;
      line-height: 1.5;
      vertical-align: top;
    }
    .centerBlockText {
      margin: 0 auto;
      display: block;
      width: 67%;
      padding-bottom: 6%;
    }
    .infoBlock {
      margin-top: 1.5%;
    }
    .fullMax {
      max-width: 70%;
    }
    .footerNextTitle {
      font-size: 3.1rem;
    }
    .indexForm article {
      width: 77%;
      margin: 0 auto;
      margin-top: 4%;
      margin-bottom: 5%;
    }
    #contactFormSubmit {
      margin-top: 1%;
      margin-bottom: 4%;
      padding: 2.5%;
      width: 40%;
    }
    .imgSideCopy {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .homeTitleBlock {
      top: 30%;
      left: 27%;
    }
    .projectTitle h3 {
      padding: 21.7% 0 .5% 0;
      font-size: 3rem;
    }
    .projectDesc {
      display: block;
      width: 70%;
    }
    .projectDesc p {
      margin-top: -7px;
      font-size: 1.5rem;
      margin-top: 2%;
      font-family: "Roboto", sans-serif;
    }
    .aboutImg {
      height: 305px;
    }
    .profilePic {
      height: 160px;
      margin-top: 3%;
    }
    .about .sectionTitle {
      margin-top: -1.5%;
    }
    .indexAbout article {
      background-color: #f7f7f7;
      padding-bottom: 3%;
    }
    .sportMgmtBg {
      padding-bottom: 46%;
    }
  }

  @media only screen and (min-width: 64.0625em) {
    .medium-6 {
      width: 50%;
    }
    .twoColumnTitle {
      margin-top: -1%;
    }
    .services .servicesLabel {
      padding: 1.25% 0;
      margin-left: 0;
    }
    .services .serviceColumn {
      padding-left: 0;
    }
    .services ul {
      margin-left: 0;
    }
    .services li {
      line-height: 1.57;
      font-size: 1.1rem;
      padding: 1.25% 0;
    }
    .indexSkills {
      background: #F2F2F2;
      padding: 6% 0;
      padding-bottom: .5%;
    }
    .projectDesc {
      left: 6%;
      width: 90%;
      line-height: 1.3;
      font-weight: 400;
      margin-top: 5%;
    }
  }

  @media only screen and (min-width: 1280px) {
    .homeTitleBlock {
      left: 31.2%;
      border: 4px solid #fff;
      padding: 5%;
    }
    .projectTitle h3 {
      padding: 16.7% 0 .5% 0;
    }
    .indexAbout article {
      padding-bottom: 2%;
    }
    .contactFormGreeting {
      margin-top: 4%;
    }
    #contactFormSubmit {
      padding: 3%;
      width: 30%;
    }
    .contactThanksBlock {
      left: 31%;
      border: 4px solid #fff;
    }
    .error404Block {
      border: none;
      width: 75%;
      margin: 0 auto;
      margin-top: 5%;
    }
    .skillsList .skillPanel:nth-of-type(2) {
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
    }
  }

  @media only screen and (min-width: 1700px) {
    body {
      background-color: #f6f6f6;
    }
    .wrapper {
      max-width: 1740px;
      margin: 0 auto;
      border: 1px solid #f2f2f2;
    }
    .sidebar .sidebar-nav li a {
      font-size: 1.5rem;
    }
    .introImg {
      height: 380px;
    }
    .indexHome {
      height: 70%;
    }
    .subheader {
      font-size: 1.36rem;
    }
    .gridWork p {
      font-size: 1.5rem;
    }
    .homeTitleBlock {
      left: 29%;
      right: 29%;
      border: 5px solid #fff;
    }
    .homeName {
      font-size: 3.75rem;
    }
    .homeSub {
      font-size: 2.7rem;
      margin-top: 2%;
      margin-bottom: -1%;
    }
    .twoColumnTitle {
      font-size: 1.75rem;
      margin-bottom: 0.5%;
    }
    .twoColumnText p {
      font-size: 1.5rem;
    }
    .twoColumnCaption p {
      font-size: 1.3rem;
    }
    .originImg {
      margin-top: 6.6%;
      width: 110%;
      margin-left: 8%;
      border: 14px solid #333;
    }
    .centeredCaption p {
      font-size: 1.3rem;
    }
    .twoColumnContrast p {
      font-weight: 300;
    }
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 100%;
    display: flex;
  }

  .contentContainer {
    position: relative;
    overflow: hidden;
  }

  .contentContainer .projectProcess:first-of-type,
  .contentContainer .projectProcess:last-of-type {
    padding-top: 3% !important;
  }

  .fullWidth {
    max-width: 100%;
  }

  .small-fullWidth {
    padding: 0;
  }

  .twoColumnImg {
    overflow: hidden;
  }

  .teamContributions span {
    font-weight: 700;
  }

  .teamContributions p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }

  .bw {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .copyFollows,
  .sansImgCopy {
    margin-bottom: 5%;
  }

  .imageBlock {
    margin-bottom: 15%;
  }

  .contactThankYou {
    background: #B02425;
  }

  .themeHeader {
    background: #0A89C0;
  }

  .otherWork div.otherWork {
    height: 5rem;
    border: 1px solid steelblue;
  }

  .project-CSM .projectInfo:before {
    background-color: #0E4C92;
  }

  .projectInfo:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    opacity: .9;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }

  .otherWork {
    width: 87%;
    margin: 0 auto;
    margin-bottom: 6%;
    padding-top: 8%;
  }

  .otherWork .otherWorkLink {
    border-bottom-width: 0;
    color: #fff;
    width: 100%;
    display: inline-block;
  }

  .otherWork .linkTypePrevious {
    display: block;
  }

  .otherWork figure {
    position: relative;
    border: none;
  }

  .otherWork .figurePrevious {
    margin-bottom: 7%;
  }

  .otherWork .backToWorkBtn {
    background: steelblue;
  }

  .otherWork .backtoWorkLink {
    position: absolute;
    top: 30px;
  }

  .otherWork .otherWorkLinkImg {
    width: 100%;
  }

  .otherWork .otherWorkLinkInfo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    margin: 0;
    text-align: center;
    z-index: 1;
    background: rgba(33, 33, 33, 0.5);
    -webkit-transition: all .7s ease;
    /* Safari and Chrome */
    -moz-transition: all .7s ease;
    /* Firefox */
    -ms-transition: all .7s ease;
    /* IE 9 */
    -o-transition: all .7s ease;
    /* Opera */
    transition: all .7s ease;
  }

  .otherWork .otherWorkLinkInfo:hover {
    background: rgba(10, 137, 192, 0.9);
    -webkit-transition: all .7s ease;
    /* Safari and Chrome */
    -moz-transition: all .7s ease;
    /* Firefox */
    -ms-transition: all .7s ease;
    /* IE 9 */
    -o-transition: all .7s ease;
    /* Opera */
    transition: all .7s ease;
  }

  .otherWork .linkTypePrefix {
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 16%;
    font-size: 2rem;
    font-size: 1.75rem;
    font-style: italic;
  }

  .otherWork .otherWorkLinkTitle {
    font-size: .9rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .services {
    padding: 0 3% 0 0;
  }

  .serviceColumns {
    padding: 0;
  }

  .invisionLink {
    text-align: center;
    padding: 14% 0 13%;
  }

  .invisionLink a {
    background: #0A89C0;
    padding: 4% 8%;
    font-weight: 500;
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 10px;
  }

  .invisionLink a button {
    font-size: 1.5rem;
  }

  #invision {
    display: none;
  }

  @media (min-width: 510px) {
    .workTitle {
      padding-left: 2%;
    }
    .workSubTitle {
      padding-left: 2%;
    }
  }

  @media (min-width: 768px) {
    .otherWork {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 5%;
    }
    .otherWork .otherWorkLink {
      border-bottom-width: 0;
      color: #FFF;
      width: 47%;
      display: inline-block;
      background-color: #1F5395;
    }
    .otherWork .linkTypePrevious {
      display: block;
      margin-right: 5%;
    }
    .otherWork .figurePrevious {
      margin-bottom: 0;
    }
    .otherWork .otherWorkLinkImg {
      width: 100%;
    }
    .otherWork .otherWorkLinkImg::before {
      background: rgba(33, 33, 33, 0.5);
    }
    .otherWork .otherWorkLinkInfo {
      width: 100%;
      height: 100%;
      position: absolute;
      color: #fff;
      margin: 0;
      padding: 20px 30px 0;
      text-align: center;
      z-index: 1;
    }
    .otherWork .linkTypePrefix {
      font-size: 2rem;
      margin-top: -2%;
    }
    .otherWork .otherWorkLinkTitle {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .otherWork .figurePrevious {
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease;
    }
  }

  @media (min-width: 770px) {
    #contentContainer {
      margin: 3% 4% 0 4%;
    }
    .homeContentContainer {
      margin: 0;
    }
    .home a {
      margin: 0 auto;
    }
    .home span {
      position: relative;
      width: 100%;
      left: 0;
    }
    #navMenuBtn {
      display: none;
    }
    .homeHeroBlock h2 {
      margin-top: 8%;
      font-size: 2.75rem;
    }
    .homeHeroBlock h3 br:last-of-type {
      display: none;
    }
    .teamContributions td {
      width: 50%;
      padding: 2%;
    }
    .teamContributions p {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
    }
    .serviceColumns {
      padding: 0 3% 0 0;
    }
    .otherWork {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 5%;
    }
    .otherWork .otherWorkLink {
      border-bottom-width: 0;
      color: #fff;
      width: 47%;
      display: inline-block;
      background-color: slategray;
    }
    .otherWork .linkTypePrevious {
      display: block;
      margin-right: 5%;
    }
    .otherWork .otherWorkLinkInfo {
      width: 100%;
      height: 100%;
      position: absolute;
      color: #fff;
      margin: 0;
      padding: 20px 30px 0;
      text-align: center;
      z-index: 1;
    }
    .otherWork .linkTypePrefix {
      font-size: 2rem;
      margin-top: -2%;
    }
    .otherWork .otherWorkLinkTitle {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .otherWork .figurePrevious {
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease;
    }
  }

  @media (min-width: 60em) {
    body {
      background: #f6f6f6;
    }
    section {
      background: transparent;
    }
    .contentContainer {
      position: relative;
      overflow: hidden;
    }
    .homeContentContainer {
      margin: 0;
    }
    .home span {
      top: -12px;
    }
    .introImg {
      height: 400px;
    }
    .homeIntroBlock h2 {
      margin-top: 0;
      padding-top: 9%;
    }
    .serviceColumns {
      padding: 0 5% 0 0;
    }
    .workTitleBlock {
      margin-top: 136px;
      padding-left: 10%;
    }
    .workTitleBlock h2 {
      text-align: left;
    }
    .workTitleBlock h3 {
      margin-top: 1%;
      padding-bottom: 3%;
      font-weight: 300;
      text-align: left;
    }
    #projectPageTitle {
      padding: 0;
    }
    #projectPageTitle h2 {
      text-align: center;
      font-size: 4rem;
    }
    .externalProjects {
      padding: 0 20%;
    }
    .externalProjects .externalProjectsItem {
      width: 100%;
    }
    .backgroundCard {
      margin: 0 auto;
      width: 87.5%;
      width: auto;
      padding: 0 9% 4% 7.3%;
      background: #E7E9EC;
      background: #0A89C0;
    }
    .projectBackground {
      padding: 9% 5% 0 5%;
    }
    .originImg {
      max-width: 81.5%;
    }
    .originImg img {
      margin-top: 8%;
    }
    .bodyCopy {
      padding: 3% 0 4% 0;
      width: 100%;
      margin: 0 auto;
    }
    .bodyCopy h3 {
      font-size: 3rem;
    }
    .otherWork {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5%;
    }
    .otherWork .otherWorkLink {
      border-bottom-width: 0;
      color: #fff;
      display: block;
    }
    .otherWork .otherWorkLinkImg {
      width: 100%;
    }
    .otherWork .otherWorkLinkInfo {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      color: #fff;
      margin: 0;
      padding: 20px 30px 0;
      text-align: center;
      z-index: 1;
      padding-top: 21%;
    }
    .invisionLink {
      display: none;
    }
    #invision {
      display: block;
      position: relative;
      padding-bottom: 58%;
    }
    #invision {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
    }
    #invision iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (min-width: 64em) {
    .bodyCopy {
      width: 65%;
    }
  }

  @media (min-width: 1280px) {
    .workTitleBlock {
      margin-top: 136px;
      padding-left: 8%;
    }
    .workTitleBlock h2 {
      font-size: 3.15em;
      padding-left: 0;
    }
    .workTitleBlock h3 {
      margin-top: 1%;
      padding-bottom: 3%;
      padding-left: 0;
      font-size: 2.5rem;
    }
  }

  .article {
    padding: 0;
  }

  .article:first-of-type {
    padding-top: 0;
  }

  .seeMoreWorkBtn {
    text-align: center;
    position: absolute;
    top: 36%;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .seeMoreWorkBtn p {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
  }

  .seeMoreWorkBtn p span {
    font-weight: 700;
  }

  .otherProject,
  .project {
    margin-top: 0;
    overflow: hidden;
    width: 100%;
  }

  .otherProjectImg,
  .projectImg {
    position: relative;
    background-size: cover;
    height: 59vh;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  .colorLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.7s ease;
    /* Firefox */
    -ms-transition: all 0.7s ease;
    /* IE 9 */
    -o-transition: all 0.7s ease;
    /* Opera */
    transition: all 0.7s ease;
    background: rgba(176, 37, 36, 0.23);
  }

  .projectTitle h3 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    text-align: left;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 55%;
    padding: 6%;
    width: 100%;
  }

  .lastWord {
    display: inline-block;
    text-decoration: inherit;
  }

  .lastWord::after {
    content: '»';
    color: #FFF;
    font-size: 2.4rem;
    vertical-align: -4%;
    padding-left: 1%;
  }

  .projectDesc {
    display: none;
  }

  .projectDesc .viewWorkBtn {
    display: none;
  }

  .cosHovColor:hover {
    background: rgba(220, 57, 50, 0.6);
  }

  .howlsAppProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/howlsAppTileMobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .uncTVProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/uncTVTileMobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .cosProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/cosTileMobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .spmHovColor:hover {
    background: rgba(207, 24, 26, 0.6);
  }

  .capsProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/capsTileMobile.jpg") no-repeat center center;
    background-size: cover;
    background-color: #990000;
  }

  .spmProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/sptTileMobile.jpg") no-repeat center center;
    background-size: cover;
    background-color: #990000;
  }

  .arrHovColor:hover {
    background: rgba(207, 24, 26, 0.6);
  }

  .kineticCafeProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/kineticCafeTileMobile.jpg") no-repeat center center;
    background-size: cover;
    background-color: #990000;
  }

  .arrProjectImg {
    background: linear-gradient(to bottom, transparent, transparent, rgba(10, 137, 192, 0.84)), url("../img/work/arr/arrProjectImg.jpg") no-repeat 79% 29%;
    background-size: cover;
    background-color: #D14905;
  }

  .arrPromoHovColor:hover {
    background: rgba(207, 24, 26, 0.6);
  }

  .smaHovColor:hover {
    background: rgba(207, 24, 26, 0.6);
  }

  .smaProjectImg {
    background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.84)), url("../img/assets/m/smaProjectTileMobile.jpg") no-repeat center center;
    background-size: cover;
    background-color: #990000;
  }

  .workLead {
    padding: 4% 6%;
    box-shadow: none;
    max-width: 100%;
  }

  .servicesDeliverables {
    padding: 2% 0 2% 10%;
  }

  .otherWorkLinkInfo,
  .otherWork,
  .figureNext,
  .figurePrevious,
  .otherWorkLinkImg,
  .otherWorkLink {
    border-radius: 10px;
  }

  footer {
    max-height: 100%;
  }

  .devicesHovColor:hover {
    background: rgba(207, 24, 26, 0.6);
  }

  @media only screen and (min-width: 550px) {
    .indexHome {
      height: 88%;
    }
    .homeTitleBlock {
      margin-top: 14%;
      padding: 3% 4%;
    }
    .otherProjectImg,
    .projectImg {
      background-size: cover;
      height: 200px;
    }
    .indexAbout .twoColumnText {
      margin-bottom: 6%;
    }
    .contactFormGreeting {
      text-align: center;
    }
    #contactFormSubmit {
      padding: 2.5%;
    }
  }

  @media only screen and (min-width: 35em) {
    .otherProject,
    .project {
      width: 50%;
      padding: 0;
    }
    .otherProjectImg,
    .projectImg {
      height: 370px;
    }
    .howlsApp {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/howls-spelling-app/howls-spelling-app.jpg") no-repeat 70% 29%;
      background-size: cover;
    }
    .uncTVImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/unc-tv-training/unc-tv-training.png") no-repeat 70% 29%;
      background-size: cover;
    }
    .uncTVProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/unc-tv-training/uncTVHomeLinkBg.jpg") no-repeat 70% 29%;
      background-size: cover;
    }
    .cosProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/cos/cos-mobile.jpg") no-repeat 70% 29%;
      background-size: cover;
    }
    .kineticCafeProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/assets/backgrounds/kineticBg.jpg") no-repeat center center;
      background-size: cover;
    }
    .capsProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/assets/backgrounds/capsBg.jpg") no-repeat center center;
      background-size: cover;
    }
    .arrPromoImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/worklist/arrVidBg.jpg") no-repeat 59% center;
      background-size: cover;
    }
    .arrPromoProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/worklist/arrVidBg.jpg") no-repeat 59% center;
      background-size: cover;
    }
    .arrProjectImg {
      background: linear-gradient(to bottom, transparent, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/arr/arrProjectImg.jpg") no-repeat 79% 29%;
      background-size: cover;
    }
    .spmProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/spm/spt-coaching-track-poster.jpg") no-repeat 57% center;
      background-size: cover;
    }
    .smaProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/sma/smaProjectImg.jpg") no-repeat 42% 29%;
      background-size: cover;
    }
    .devicesProjectImg {
      background: linear-gradient(to bottom, transparent, rgba(10, 137, 192, 0.54)), url("../img/work/device-illustrations/devicesProjectImg.jpg") no-repeat 69% 29%;
      background-size: cover;
    }
    .projectDesc {
      display: none;
      width: 50%;
      margin: 0 auto;
    }
    .projectDesc p {
      margin-top: -7px;
      font-size: 1.3rem;
      line-height: 1.65;
      margin-top: 3%;
    }
    .indexAbout {
      background-color: #f2f2f2;
      padding-bottom: 4%;
    }
    .indexForm {
      padding-top: 4%;
    }
  }

  @media only screen and (min-width: 60em) {
    .lastWord {
      border-bottom: none;
    }
    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
    }
    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }
    .indexWork article {
      margin-bottom: 5%;
      padding: 0;
    }
    .indexWork article:first-of-type {
      padding-top: 0;
    }
    .indexWork article:last-of-type {
      margin-bottom: 0;
    }
    .workTitleBlock {
      padding-left: 7.7%;
    }
    .otherProject,
    .project {
      margin-top: 0;
      overflow: hidden;
    }
    .projectTitle h3 {
      top: 67%;
      font-size: 2.5rem;
    }
    .lastWord::after {
      font-size: 3.1rem;
    }
    .projectImg {
      height: 60vh;
      margin: 0 auto;
      padding: 0;
    }
    .arrInternImg {
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 253, 0.84)), url("../img/work/arr/arr-dexter-cattle.jpg") no-repeat center center;
      background-size: cover;
    }
    .projectTitle {
      top: 67%;
    }
    .servicesDeliverables {
      padding: 2% 0 2% 6%;
    }
  }

  .skillsTitle {
    margin: 0 auto;
  }

  .skillsTitle h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    letter-spacing: 1.5px;
    font-weight: 500;
  }

  .skillPanel {
    padding-bottom: 7%;
  }

  .skillPanel img {
    width: 6rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 7%;
  }

  .skillsList article h4 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 4%;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 500;
    color: #0A89C0;
  }

  .skillsList article ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
    text-align: center;
  }

  .skillsList article ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.35rem;
    line-height: 1.75;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }

  .skillIcons {
    color: #0000fd;
  }

  @media only screen and (min-width: 768px) {
    .skillPanel {
      margin-bottom: 2.5rem;
      padding-bottom: 0;
    }
  }

  /* Web Fonts -------------------- */

  .callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
  }

  .icons {
    text-align: center;
    display: block !important;
  }

  .skillIcons {
    color: #0000fd;
  }

  /*# sourceMappingURL=application.css.map */


