/*
Theme Name:   Library of Copy 2.0.0
Theme URI:    http://libraryofcopy.com

Description:  Library of Copy Theme adaption of Twenty-Fifteen WordPress Theme
Author:       Nathaniel Powers
Author URI:   http://nathanielpowers.com
Template:     twentysixteen
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  library-of-copy
*/

body,
.site {
  /*  background: #333;*/
  background: #EEE;
  margin-top: 0;
}

.site-header {
  padding: 5% 5%;
}

.site-title {
  /*  padding: 4% 5% 4% 5%;*/
  /*  background: #40ACC0;*/
  /*  color: #40ACC0;*/
}


.custom .menu-item.menu-item-search { float:right; width:260px; }
.custom .menu-search-form { float:right; padding-top:3px; width:250px; }
.custom form.menu-search-form { width:auto; }
.custom form.menu-search-form #s { background:#fff; border:1px solid #000; font-size:11px; margin:0 2px 0 0; padding:2px; width:180px; float:left; }
.custom .menu-search-form input#searchsubmit.my-wp-search { background:#000; color:#fff; cursor:pointer; float:right; padding:2px; text-transform:uppercase; }

.menu-search-form .text_input {
  width: 80%;
}


.site-branding {
  /*
  color: #FF3E5E;
  background: -webkit-linear-gradient(45deg, #FF3E5E 0%, #BB4EC1 50%, #6063FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  /*  color: #FFF;*/
  /*  font-size: 2.6rem;*/
  /*  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2)*/
  /*  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);*/
  /*
  padding: 4% 4% 3% 4%;
  background: #40ACC0;
  color: #FFF;
  white-space: nowrap;
  */

}

/*
.site-title a {
font-size: 2.6rem;
color: #FFF;
white-space: nowrap;
}
*/


.site-branding .site-title a {
  padding: 4% 4% 3% 4%;
  background: rgba(51, 160, 249, .3);
  color: #33A0F9;
  white-space: nowrap;

  font-size: 2.6rem;
  padding: .5em 4rem;
  transition: .2s;
}

.site-branding .site-title a:hover, .site-branding .site-title a:focus {
  background: rgba(51, 160, 249, .8);
  color: #FFF;
  transition: .2s;
}

.site-title {
  padding: 2rem 0;

}

.site-title a:hover {
  text-decoration: none;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
  text-decoration: none;
}

.menu-toggle {
  color: #40ACC0;
  font-size: 12px;
  border: 1px solid #40ACC0;
}

.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus{
  background-color: transparent;
  border-color: #40ACC0;
  color: #40ACC0;
}

.menu-item a {
  font-size: 1.75rem;
}


.blueBox {
  background: blue;
  width: 100px;
  height: 100px;
}
.main-navigation a {
  /*  color: #EEE;*/
  /*  color: #AAA;*/
  /*   color: #40ACC0; */
  /* 	color: #1A1A1A; */
  font-weight: 700;
  /*  padding: 9% 0;*/
  font-weight: 500;
  color: #33A0F9;
}

.main-navigation a:hover, .main-navigation a:focus {
  color: #33A0F9;
}

.current-menu-item a {
  /*  color: #FF3E5E;*/
  color: #33A0F9;
  font-weight: 700;
}

/*
.search-form {
background: #DDD;
}
*/

.search-form label {
  /*   width: 100%; */
  /*   margin-bottom: 0; */
  display: inline;
}

/*
.search-form label:hover,
.search-form label:focus {
background: #DDD;
}
*/

.searchIconField {
  display: inline;
  padding-bottom: 3%;
  border-bottom: 2px solid #DDD;
}

svg:not(:root) {
  fill: #686868;
}



/*
.search-icon {
margin-left: 15px;
padding-left: 7%;

}
*/



#search input[type=text] {
  color: #686868;
}

input[type="search"] {
  padding-left: 2%;
  /*   background: #555; */
  border: none;
  /*  height: 4rem;*/
  font-size: 3rem;
  /*  border-radius: 2px;*/
  /*   background: #EEE; */
  /*  border: 2px solid #DDD;*/
  /*  border-bottom: 2px solid #DDD;*/
  /*  border-radius: 5px;*/
  font-weight: 400;
  background: transparent;
  border-radius: 0;
  margin-left: 1%;
}

input[type="search"]:focus {
  background: transparent;
}


/*
.search-form::before {
content: "\f400";
font-size: 24px;
left: 2px;
line-height: 42px;
position: relative;
width: 40px;
}
*/
/*

input[type="search"]:hover,
input[type="search"]:focus {
background: #DDD;
}
*/

.categoryList {
  margin-top: 7%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5%;
}

.categoryList ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cat-item {
  float: left;
  list-style: none;
}

/* print category */

.cat-item a {
  margin-left: 0;
  margin-right: 19%;
  /*  padding: .5rem 1.3rem;*/
  padding: 0.5rem 1.3rem .1rem;;
  /*  color: #AAA;*/
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: transparent;
  /*  border: 2px solid #FFF;*/
  width: auto;
  float: left;
  transition: .3s;
  /*  outline: 2px solid #AAA;*/
  border-bottom: 4px solid transparent;
  outline: 2px solid #1A1A1A;
  font-weight: 700;
  /*   color: #40ACC0; */
  color: #1A1A1A;
  white-space: nowrap;
}

.cat-item a:hover {
  text-decoration: none;
  /*  border-bottom: 4px solid #AAA;*/
  /*   border-bottom: 4px solid #40ACC0; */
  border-bottom: 4px solid #33a0f9;
  background: rgba(51, 160, 249, .3);
  /*   transition: .3s; */
}

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%;
}

.pt-cv-title {
  padding: 1% 0 4% 4%;
  padding-left: 8px;
}

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
  padding: 1% 1% 8% 1%;
  /*  border-bottom: 5px solid #111;*/
  border-bottom: 1px solid #CCC;
}

.pt-cv-title a {
  /*  color: #40ACC0;*/

  /* provides just enough contrast to tags */
  /*   color: #40ACBA; */
  color: #1A1A1A;
  letter-spacing: -0.2rem;
  text-transform: none;
  font-size: 4rem;
  line-height: 1.3;
  font-family: 'Oswald', sans-serif;
}

.pt-cv-title a:hover {
  /*   color: #BB4EC1; */
  /* 	text-decoration: underline; */
  border-bottom: 10px solid #33a0f9;
  border-bottom: 10px solid rgba(51, 160, 249, .7);
}

.pt-cv-wrapper .btn-success {
  display: none;
}

.search-form {
  position: relative;
  margin: 5% 0 3%;
}

.search-submit {
  width: 120px;
  background: transparent;
  color: #333;
}

.search-submit::before {
  content: "";
}

.search-submit:hover,
.search-submit:active {
  background: transparent;
  color: purple;
}

.pt-cv-content-item {
  margin: 5% 0 8%;
}

.pt-cv-ifield {

}

/*
.pt-cv-meta-fields {
margin-left: 0;
padding-top: 4%;
padding-top: 0;
width: 90%;
}
*/

/* Post Layout */
.site-main > article {
  padding: 5% 1% 5% 0;
  /*  box-shadow: 0 0 18px #181818;*/
  background: #EEE;
}

/* Post-specific layout exclusive of the main > article layout */
.post {
  padding: 6% 4% 10% 4% !important;
}

.entry-title {
  /*  color: #111;;*/
  color: #33A0F9;
  font-size: 4rem;
  line-height: 1.15;
  letter-spacing: -0.2rem;
  hyphens: none;
}

.entry-title:hover {
  /*   border-bottom: 5px solid #6EBBFE; */
  /* 	color: #FFF;
  */
}

.bodyCopy {
  padding: 0 0 7%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  /*  color: #111;*/
  color: #404040;
  hyphens: none;
  line-height: 1.4;
}

.metaInfo {
  display: none;
}

.tags {
  margin: 0 0 10%;
  /* color to match background to hide commas between tags */
  color: #EEE;
}

/* appear to remove commas between tags, set to color of article background */
.terms {
  color: #EEE;
}

.pt-cv-meta-fields a, .tags a {
  font-size: 1.5rem;
  /*  border: 2px solid #111;*/
  padding: 2% 3%;
  color: #111;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: lowercase;
  /*  border: 2px solid #AAA;*/
  /*  color: #AAA;*/
  /*   color: #40ACC0; */
  color: #1A1A1A;
  border: 2px solid #1A1A1A;
  /*   border: 2px solid #40ACC0 */
  white-space: nowrap;
  font-weight: 700;
  margin-top: 3%;
  display: inline-block;
  transition: .3s;
  border-radius: 5px;
}

.tags a:hover {
  /* 	border-bottom: 4px solid #33a0f9; */
  background: rgba(51, 160, 249, .3);
  text-decoration: none;
}

.pt-cv-meta-fields a:hover {
  background: rgba(51, 160, 249, .3);
  text-decoration: none;
}

/*
.pt-cv-tax-print-copy {
font-weight: 400;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
width: 100%;
color: #FFF;
background: #007FBE;
padding: 9%;
}
*/

.pt-cv-tax-print-copy:hover {
  box-shadow: 0 0 10px #111;
}

/*
.source {
padding: 0 0 9%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 2.5rem;
font-weight: 200;
color: #111;
}
*/

.image {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #111;
  text-align: center;
}

.image img {
  margin-bottom: 3%;
}

.categoryContainer {
  border-top: 1px solid #A7A7A7;
}

.adImage {
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
  padding: 5% 5% 5% 5%;
  margin-bottom: 5%;
  /*  margin-left: 0;*/
}

.categoryHeader {
  margin-bottom: 2%;
  padding: .5% 0 0 1%;
  font-size: 1.5rem;
  letter-spacing: .2px;
  color: #A7A7A7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.post-navigation .meta-nav {
  color: #FFF;
}

/*remove post-navigation borders*/
.post-navigation {
  border: none;
}

.widget_search,
.widget_categories {
  border: none;
}

footer nav {
  display: none;
}

.site-info {
  margin: 0 auto;
}

.site-info .site-title {
  padding: 0;
  background: transparent;
}

.site-footer .site-title {
  font-size: 1.5rem;
  text-align: center;
  display: block;
}

/* remove footer "/" */
.site-footer .site-title::after {
  content: "";
}

/* Tablet Portrait /////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .post {
    padding: 2% 4% 0% 4% !important;
  }

  .site-header {
    padding: 5% 5% 0;
  }

  .site-branding {
    padding: 1% 2% 1% 2%;
  }

  .site-title {
    padding: 4% 5% 4% 5%;
    background: #40ACC0;
  }

  /*
  .site-title a {
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2)
}
  */

  .search-form {
    /*    margin: 0% 8.3% 5%;*/
    margin: 3% 0% 0%;
  }

  .categoryHeader {
    margin-bottom: 4%;
  }

  .categoryList {
    margin-top: 4%;
  }

  .entry-header,
  .post-thumbnail,
  .entry-content,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    /* 			margin-right: auto; */
    margin: 0 7%;
  }

  .pt-cv-meta-fields a, .tags a {
    padding: 1.5% 2%;
  }

  .entry-title {
    font-size: 6rem;
  }

  .adImage {
    margin: 0 auto;
    display: block;
    margin-bottom: 9%;
  }

  .bodyCopy {
    padding: 0.5% 0 0 1%;
  }
}

/* Tablet Landscape /////////////////////////////////////////////////////////////////////////// */

/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {*/

@media screen and (min-device-width: 1024px) {

  .site-main > article {
    padding: 4% 3% 0 3%;
  }

  .site-header {
    /*    padding: 2.25em 4.5455%;*/
    padding: 5% 5% 0;
  }

  .search-form {
    margin: 2% 0 1.5% !important;
  }

  .pt-cv-content-item {
    margin: 0% 0 2%;
    padding: 2% 0 0;
  }

  /* catergory header lines */
  .categoryHeader {
    padding: 0 0 0 .5%;
    font-size: 1.75rem;
  }

  .entry-title {
    font-size: 6rem;
  }

  .adImage {
    margin: 0 auto;
    display: block;
    margin-bottom: 9%;
  }

  .bodyCopy {
    padding: 0.5% 0 0 1%;
  }

  .pt-cv-title a {
    padding-left: 1%;
    font-size: 3rem;
    line-height: 1.35;
  }

  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }


  /*
  .bodyCopy,
  .source {
  padding: 0 0 5%;
}

  .tags {
  margin: 0 0 6%;
}

  */
  /* tag box and font sizes */
  .pt-cv-meta-fields a, .tags a {
    padding: 1% 1.5%;
    font-size: 1.75rem;
  }

  /* center ad image */
  .categoryContainer img {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (min-width: 56.875em) {
  .content-area {
    float: left;
    margin-right: auto;
    width: 100%;
  }

  .no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets   {
    margin: auto;
  }
}

@media screen and (min-width: 61.5625em) {
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%;
  }

  body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 10%;
  }

  .entry-title {
    font-size: 5rem;
    margin-bottom: 5%;
  }
}

@media screen and (min-device-width: 1200px) {

  .post {
    padding: 2% 4% 0% 4% !important;
  }

  .site-main > article {
    padding: 1% 3.5% 6% 3.5%;
  }

  .site-header{
    padding: 2.25em 2.5455%;
  }

  .site-content {
    padding: 2.25em 0;
  }

  .searchIconField {
    padding-bottom: 1%;
  }

  .search-form {
    margin: 0% 8.3% 7%;
  }

  .categoryList {
    /*     margin-top: 5%;
    padding-bottom: 3%; */
    margin-top: 2%;
    padding-bottom: 2%;
  }

  /* margin between post title sections */
  .pt-cv-view .pt-cv-ifield {
    margin-bottom: 8rem !important;
  }

  .pt-cv-view .pt-cv-title {
    border-bottom: none;
    /*    box-shadow: 5px 5px #111;*/
    border-bottom: 1px solid #CCC;
  }

  .entry-title {
    font-size: 6rem;
  }

  .pt-cv-title a {
    font-size: 6rem;
    line-height: 1.15;
  }

  .pt-cv-content-item {
    padding: 0;
  }

  .adImage {
    margin-left: .5%;
  }

  .bodyCopy {
    padding: 0 0 0 .5%;
  }

}