/*
Theme Name:   Library of Copy 2.0.0
Theme URI:    http://libraryofcopy.com

Description:  Library of Copy Theme adaption of Twenty-Fifteen WordPress Theme
Author:       Nathaniel Powers
Author URI:   http://nathanielpowers.com
Template:     twentysixteen
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  library-of-copy
*/
body,
.site {
  background: #FFF;
  margin-top: 0; }

.site-header {
  padding: 0 5%; }

.custom .menu-item.menu-item-search {
  float: right;
  width: 260px; }

.custom .menu-search-form {
  float: right;
  padding-top: 3px;
  width: 250px; }

.custom form.menu-search-form {
  width: auto; }

.custom form.menu-search-form #s {
  background: #fff;
  border: 1px solid #000;
  font-size: 11px;
  margin: 0 2px 0 0;
  padding: 2px;
  width: 180px;
  float: left; }

.custom .menu-search-form input#searchsubmit.my-wp-search {
  background: #000;
  color: #fff;
  cursor: pointer;
  float: right;
  padding: 2px;
  text-transform: uppercase; }

.menu-search-form .text_input {
  width: 80%; }

.site-branding {
  padding: -0.125em auto -0.125em 0; }

.site-branding .site-title a {
  padding: 4% 4% 3% 4%;
  color: #000;
  white-space: nowrap;
  font-size: 2.6rem;
  padding: .5em 1.4rem;
  transition: .2s;
  letter-spacing: -2px; }

.site-title {
  padding: 2rem 0; }

.site-title a:hover {
  text-decoration: none; }

.main-navigation li:hover > a,
.main-navigation li.focus > a {
  text-decoration: none; }

.menu-toggle {
  color: #000;
  font-size: 13px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-right: 5%; }

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
  color: #000;
  border: 2px solid #000; }

.menu-item a {
  font-size: 1.75rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px; }

.blueBox {
  background: blue;
  width: 100px;
  height: 100px; }

.main-navigation {
  border: none; }
  .main-navigation li {
    border: none; }
  .main-navigation a {
    font-weight: 500;
    text-align: center;
    background: #007ACC;
    border-radius: 5px;
    color: #FFF; }

.main-navigation a:hover,
.main-navigation a:focus {
  color: #33A0F9; }

.current-menu-item a {
  color: #33A0F9;
  font-weight: 700; }

.search-form label {
  display: inline; }

.searchIconField {
  display: inline;
  padding-bottom: 3%;
  border-bottom: 2px solid #DDD; }

svg:not(:root) {
  fill: #686868; }

#search input[type=text] {
  color: #686868; }

input[type="search"] {
  padding-left: 2%;
  border: none;
  font-size: 3rem;
  font-weight: 400;
  background: transparent;
  border-radius: 0;
  margin-left: 1%; }

input[type="search"]:focus {
  background: transparent; }

.categoryList {
  margin-top: 7%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5%; }

.categoryList ul {
  display: inline-block;
  margin: 0;
  padding: 0; }

.cat-item {
  float: left;
  list-style: none; }

.cat-item a {
  margin-left: 0;
  margin-right: 19%;
  padding: 0.5rem 1.3rem .1rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: transparent;
  width: auto;
  float: left;
  transition: .3s;
  border-bottom: 4px solid transparent;
  outline: 2px solid #1A1A1A;
  font-weight: 700;
  color: #1A1A1A;
  white-space: nowrap; }

.cat-item a:hover {
  text-decoration: none;
  border-bottom: 4px solid #33a0f9;
  background: rgba(51, 160, 249, 0.3); }

.content-area-full-width {
  width: 100%;
  margin-right: 7.6923%; }

.pt-cv-title {
  padding: 1% 0 4% 4%;
  padding-left: 8px; }

.pt-cv-view .pt-cv-title {
  margin-bottom: 10px;
  padding: 1% 1% 3% 0; }

.pt-cv-title a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  letter-spacing: -0.2rem;
  text-transform: none;
  font-size: 4.3rem;
  line-height: 1.5; }

.pt-cv-title a:hover {
  border-bottom: 10px solid rgba(51, 160, 249, 0.9); }

.pt-cv-wrapper .btn-success {
  display: none; }

.search-form {
  position: relative;
  margin: 5% 0 3%; }

.search-submit {
  width: 120px;
  background: transparent;
  color: #333; }

.search-submit::before {
  content: ""; }

.search-submit:hover,
.search-submit:active {
  background: transparent;
  color: purple; }

.pt-cv-title {
  margin: 0; }

.pt-cv-content {
  margin: 2px 0 0 0; }

.pt-cv-content-item {
  margin: 5% 0 8%; }

/* Post Layout */
.site-main > article {
  padding: 5% 1% 5% 0;
  background: #FFF; }

/* Post-specific layout exclusive of the main > article layout */
.post {
  padding: 6% 4% 10% 4% !important; }

.entry-title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.01px;
  hyphens: none;
  font-weight: 700; }

.entry-content p {
  font-size: 2rem; }

.entry-date {
  font-size: 1.5rem;
  font-family: Merriweather, Georgia, serif; }

.entry-footer > span:not(:last-child):after {
  font-size: 1.5rem;
  font-family: Merriweather, Georgia, serif; }

.tags-links {
  font-size: 1.5rem;
  font-family: Merriweather, Georgia, serif; }

.bodyCopy {
  padding: 0 0 7%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
  hyphens: none; }
  .bodyCopy p {
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
    line-height: 1.45;
    color: #000; }

.metaInfo p {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
  line-height: 1.2; }

.tags {
  margin: 0 0 10%;
  /* color to match background to hide commas between tags */
  color: #FFF;
  margin: 2%; }

.content-single-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%; }

.terms {
  color: #FFF; }

.pt-cv-meta-fields a, .tags a {
  font-size: 1.5rem;
  padding: 2% 3%;
  text-transform: lowercase;
  white-space: nowrap;
  margin-top: 3%;
  display: inline-block;
  transition: .3s;
  border-radius: 5px;
  font-weight: 500;
  border: 2px solid #000;
  color: #000; }

.tags a:hover,
.pt-cv-meta-fields a:hover {
  background: #33A0F9;
  color: #FFF;
  border: 2px solid #33A0F9;
  text-decoration: none; }

.pt-cv-tax-print-copy:hover {
  box-shadow: 0 0 10px #111; }

.image {
  padding: 0 0 9%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #111;
  text-align: center; }

.image img {
  margin-bottom: 3%; }

.categoryContainer {
  border-top: 1px solid #A7A7A7; }

.adImage {
  width: 100%;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
  padding: none;
  margin-bottom: 5%; }

.categoryHeader {
  margin-bottom: 2%;
  padding: .5% 0 0 1%;
  font-size: 1.5rem;
  letter-spacing: .2px;
  color: #A7A7A7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: lowercase; }

.post-navigation .meta-nav {
  color: #FFF; }

.post-navigation {
  border: none; }

.widget_search,
.widget_categories {
  border: none; }

footer nav {
  display: none; }

.page-header {
  text-align: center; }

.site-info {
  margin: 0 auto; }

.site-info .site-title {
  padding: 0;
  background: transparent; }

.site-footer .site-title {
  font-size: 1.5rem;
  text-align: center;
  display: block; }

.site-footer .site-title::after {
  content: ""; }

/* Tablet Portrait /////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .post {
    padding: 2% 4% 0% 4% !important; }
  .site-header {
    padding: 5% 7% 0; }
  .site-branding {
    padding: 1% 2% 1% 2%; }
  .site-title {
    padding: 4% 5% 4% 5%; }
  .entry-content {
    margin-right: 5%; }
    .entry-content p {
      font-size: 2.2rem;
      width: 100%;
      padding-bottom: 2%; }
  .search-form {
    margin: 3% 0% 0%; }
  .categoryHeader {
    margin-bottom: 4%; }
  .categoryList {
    margin-top: 4%; }
  .entry-header,
  .post-thumbnail,
  .entry-summary,
  .entry-footer,
  .comments-area,
  .image-navigation,
  .post-navigation,
  .page-header,
  .page-content,
  .content-bottom-widgets {
    margin: 0 7%; }
  .pt-cv-meta-fields a, .tags a {
    padding: 1.5% 2%; }
  .entry-title {
    margin-bottom: 2%;
    font-size: 5rem;
    margin-bottom: 4%;
    line-height: .95; }
  .adImage {
    margin: 0 auto;
    display: block;
    margin-bottom: 9%; }
  .bodyCopy {
    padding: 0.5% 0 0 1%; } }

@media screen and (min-device-width: 1024px) {
  .main-navigation a {
    background: transparent;
    color: #000; }
  .site-main > article {
    margin-bottom: 0em; }
  .site-branding .site-title a:hover, .site-branding .site-title a:focus {
    transition: .2s; }
  .site-main > article {
    padding: 4% 3% 0 3%; }
  .site-header {
    padding: 5% 5% 0; }
  .search-form {
    margin: 2% 0 1.5% !important; }
  .pt-cv-content-item {
    margin: 0% 0 2%;
    padding: 2% 0 0; }
  /* catergory header lines */
  .categoryHeader {
    padding: 0 0 0 .5%;
    font-size: 1.75rem; }
  .entry-title {
    font-size: 6rem; }
  .adImage {
    margin: 0 auto;
    display: block;
    margin-bottom: 9%; }
  .bodyCopy {
    padding: 0.5% 0 0 1%; }
  .pt-cv-title a {
    padding-left: 1%;
    font-size: 3rem;
    line-height: 1.35; }
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%; }
  .pt-cv-meta-fields a, .tags a {
    padding: 1% 1.5%;
    font-size: 1.75rem; }
  .categoryContainer img {
    margin: 0 auto;
    display: block; } }

@media screen and (min-width: 56.875em) {
  .content-area {
    float: left;
    margin-right: auto;
    width: 100%; }
  .no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets {
    margin: auto; } }

@media screen and (min-width: 61.5625em) {
  body:not(.search-results) article:not(.type-page) .entry-content {
    float: left;
    width: 100%; }
  body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    padding-bottom: 3%; }
  body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
    margin-left: 26%;
    width: 70%; }
  body.no-sidebar:not(.search-results) article:not(.type-page) .entry-footer {
    margin-left: 0;
    width: 100%; }
  .site-header {
    background: transparent; }
  .entry-title {
    font-size: 5rem;
    margin-bottom: 5%; }
  .entry-footer {
    margin-left: 0;
    width: 100%; }
  .tag-links {
    display: inline-block;
    margin-left: 3%; } }

@media screen and (min-device-width: 1200px) {
  .site-main > article {
    margin-bottom: 5em; }
  .post {
    padding: 2% 4% 0% 4% !important; }
  .site-main > article {
    padding: 1% 3.5% 6% 3.5%; }
  .site-header {
    padding: 2.25em 2.5455%; }
  .site-content {
    padding: 2.25em 0; }
  .searchIconField {
    padding-bottom: 1%; }
  .search-form {
    margin: 0% 8.3% 7%; }
  .categoryList {
    margin-top: 2%;
    padding-bottom: 2%; }
  .pt-cv-view .pt-cv-ifield {
    margin-bottom: 8rem !important; }
  .pt-cv-view .pt-cv-title {
    border-bottom: 1px solid #CCC; }
  .leadTextContainer {
    margin-bottom: 9%; }
  .entry-title {
    font-size: 7rem;
    line-height: 1.1; }
  .pt-cv-title a {
    font-size: 6rem;
    line-height: 1.05; }
  .pt-cv-content-item {
    padding: 0; }
  .adImage {
    margin-left: .5%; }
  .bodyCopy {
    padding: 0 0 0 .5%; } }

/*# sourceMappingURL=style.css.map */
